
article:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.05);
    text-shadow: 2px 2px 2px rgba(255, 255, 255, .2);   
}

pre {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    font-family: 'Roboto Mono', monospace;
    white-space: pre-wrap;
    font-size: .7rem;
    padding: .5rem;
    margin: 0 0 1rem;
    overflow-y: auto;
    max-height: 320px;
    box-shadow: inset 0 2px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}