
@keyframes keyglow {
    0% {
        background: rgba(49, 98, 153, 1);
        border-color: rgb(64, 120, 180);
        
    }
    94% {
        background: rgba(49, 98, 153, 1);
        border-color: rgb(64, 120, 180);
        
    }
    96% {
        background: rgba(49, 98, 153, .7);
        border-color: rgb(81, 133, 189);
        
    }
    98% {
        background: rgba(49, 98, 153, .7);
        border-color: rgb(81, 133, 189);
        
    }
    100% {
        background: rgba(49, 98, 153, 1);
        border-color: rgb(64, 120, 180);
        
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    100% {
        transform: rotate(-360deg);
    }
}