$roboto: 'Roboto',
sans-serif;
$monoto: 'Roboto Mono',
monospace;
header {
    user-select: none;
    position: relative;
    h1 {
        margin: 0;
        img {
            display: block;
            margin: auto;
            position: relative;
            top: 10px;
        }
    }
    flex: 0 0 auto;
}

nav {
    flex: 0 0 auto;
    display: block;
    user-select: none;
    a {
        font-size: 1.2em;
        &:link,
        &:visited {
            border: 0;
        }
    }
    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    /* used on license page to get back to top of page */
    &.toTop{
        padding: 1em 0;        
    }
    &.toTop,
    &.backnext {
        text-align: center;
        a:link,
        a:visited {
            color: #316299;
        }
    }
    /* main navigation */
    &.top {
        position: absolute;
        left: 10px;
        top: 70px;
        margin: 0;
        a {
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
            font-weight: bold;
        }
        li {
            display: block;
            a {
                &:hover,
                &:active {
                    text-shadow: -2px -2px 6px rgba(97, 164, 241, 0.67);
                }
            }
        }
    }
    &.backnext {
        text-align: center;
        margin: 10px 0;
        font-size: 1.2rem;
        li {
            padding: 0 8px;
            display: inline-block;
        }
        a {
            font-weight: bold;
            &.back {
                &:hover,
                &:active {
                    text-shadow: -6px 3px 6px rgba(255, 255, 255, 0.6);
                }
            }
            &.next {
                &:hover,
                &:active {
                    text-shadow: 6px 3px 6px rgba(255, 255, 255, 0.6);
                }
            }
            &.disabled {
                opacity: .2;
                &:hover,
                &:active {
                    text-shadow: none;
                }
                i {
                    visibility: hidden;
                }
            }
        }
    }
    &.letters {
        text-align: center;
        margin-top: 10px;
        font-family: $roboto;
        $small: 1.05rem;
        $big: 1.1rem;
        vertical-align: bottom;
        cursor: default;
        font-size: 0;
        li {
            padding: 0 2px 4px 2px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        a {
            display: inline-block;
            vertical-align: bottom;
            min-width: $big;
            height: $big;
            border: 1px solid rgb(49, 98, 153);
            text-align: center;
            font-size: $small;
            line-height: $big;
            padding: 1px;
            &:active, &:focus {
                background: rgb(49, 98, 153);
                border-color: black;
                color: white;
                transition: none;
            }
        }
    }
}

#orth {
    position: relative;
    top: -.8em;
    z-index: 1;
    text-align: center;
    line-height: 0;
    font-style: italic;
    a {
        margin: 0 10px;
        &:link,
        &:visited {
            color: black;
        }
    }
}

footer {
    color: white;
    text-shadow: rgba(0, 0, 0, .5);
    text-align: center;
    font-size: .7rem;
    margin: 20px 0 10px 0;
    a:link,
    a:visited {
        color: #eee;
        border-bottom: 1px solid rgb(49, 98, 153);
    }
    a:hover,
    a:active {
        color: #eee;
        border-bottom: 1px solid rgb(49, 98, 153);
        text-shadow: 1px 0 10px white;
    }
    .separator {
        width: 20px;
        display: inline-block;
        opacity: .5;
    }
}
