$roboto: 'Roboto',
sans-serif;
$monoto: 'Roboto Mono',
monospace;
header {
    user-select: none;
    position: relative;
    h1 {
        margin: 0;
        img {
            display: block;
            margin: auto;
            position: relative;
            top: 10px;
            @media screen and (max-width: 499px) {
                max-width: 60%;
                height: auto;
            }
        }
        @media screen and (max-width: 499px) {
            margin-right: 10px;
        }
    }
    flex: 0 0 auto;
}

nav {
    flex: 0 0 auto;
    display: block;
    user-select: none;
    a {
        font-size: 1.2em;
        &:link,
        &:visited {
            border: 0;
        }
    }

    /* used on license page to get back to top of page */
    &.toTop{
        padding: 1em 0;        
    }
    &.toTop,
    &.backnext {
        text-align: center;
        a:link,
        a:visited {
            color: #316299;
        }
    }
    /* main navigation */
    &.top {
        position: absolute;
        left: 10px;
        top: 70px;
        margin: 0;
        a {
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
            font-weight: bold;
        }
        li {
            display: block;
            a {
                &:hover,
                &:active {
                    text-shadow: -2px -2px 6px rgba(97, 164, 241, 0.67);
                }
            }
        }
        @media screen and (max-width: 499px) {
            top: 10%;
            font-size: .9em;
        }
        @media screen and (max-width: 399px) {
            top: 10%;
            font-size: .8em;
        }
        @media screen and (max-width: 319px) {
            position: static;
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 10px;
                padding: 0 5px;
                
            }
            li {
                padding: 0 5px;
            }
        }
    }
    &.backnext {
        text-align: center;
        margin: 10px 0;
        font-size: 1.2rem;
        li {
            padding: 0 8px;
            display: inline-block;
        }
        a {
            font-weight: bold;
            &.back {
                &:hover,
                &:active {
                    text-shadow: -6px 3px 6px rgba(255, 255, 255, 0.6);
                }
                white-space: nowrap;
            }
            &.next {
                &:hover,
                &:active {
                    text-shadow: 6px 3px 6px rgba(255, 255, 255, 0.6);
                }
                white-space: nowrap;                
            }
            &.disabled {
                opacity: .2;
                &:hover,
                &:active {
                    text-shadow: none;
                }
                i {
                    visibility: hidden;
                }
            }
        }
    }
    &.letters {
        text-align: center;
        margin-top: 10px;
        font-family: $roboto;
        $small: 1.05rem;
        $big: 1.1rem;
        vertical-align: bottom;
        cursor: default;
        font-size: 0;
        li {
            padding: 0 2px 4px 2px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        a {
            display: inline-block;
            vertical-align: bottom;
            min-width: $big;
            height: $big;
            border: 1px solid rgb(49, 98, 153);
            text-align: center;
            font-size: $small;
            line-height: $big;
            padding: 1px;
            &:active, &:focus {
                background: rgb(49, 98, 153);
                border-color: black;
                color: white;
                transition: none;
            }
        }

    }
}

#orth {
    position: relative;
    top: -.8rem;
    z-index: 2;
    text-align: center;
    line-height: 0;
    font-style: italic;
    font-size: 1rem;
    a {
        &:link,
        &:visited {
            color: black;
        }
    }
    @media screen and (max-width: 499px) {
        top: 0rem;
        font-size: .8rem;
        line-height: 1rem;
    }        
    @media screen and (max-width: 179px) {
        top: .2rem;
        font-size: .8rem;
        line-height: 1.2rem;
    }            
    @media (max-width: 149px) {
        top: .3rem;
        font-size: .8rem;
        line-height: 1.3rem;
    }
}

footer {
    background: radial-gradient(rgba(0,0,0,1) 25%, rgba(0,0,0,0) 76%);
    color: white;
    text-shadow: rgba(0, 0, 0, .5);
    text-align: center;
    font-size: .8rem;
    max-width: 900px;
    margin: auto;
    a:link,
    a:visited {
        color: #eee;
        border-bottom: 1px solid rgb(49, 98, 153);
    }
    a:hover,
    a:active {
        color: #eee;
        border-bottom: 1px solid rgb(49, 98, 153);
        text-shadow: 1px 0 10px white;
    }
    p{
        padding: 40px 0 20px;
        margin: 0;
    }
}
