
.info {
    position: relative;
    &[data-title]:after {
        font-weight: normal;
        content: attr(data-title);
        padding: 2px 3px;
        color: #333;
        position: absolute;
        white-space: nowrap;
        background: white;
        z-index: 2;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0,0,0,.4);
        text-shadow: none;
        line-height: 1;
        font-size: .8rem;
        pointer-events: none;
        opacity: 0;
        transition: opacity .5s;
    }
    &[data-title]:hover:after {
        opacity: 1;
    }
    &.nolink {
        cursor: help;
    }
    &.hover {
        transition: border-color .2s linear;
        border-bottom: 1px dashed transparent;
        &:hover {
            border-color: #333;
        }
    }
    &.above {
        &[data-title]:after {
            bottom: 108%;
            left: 0px;
        }
    }
    &.below {
        &[data-title]:after {
            top: 116%;
            left: 13px;
        }
    }
    &.toleft {
        &[data-title]:after {
            top: 0px;
            right: 108%;
        }
    }
    &.toright {
        &[data-title]:after {
            top: 0px;
            left: 110%;
        }
    }
}