@import "_vars";



#kbd {
    // $collapse: 20rem;

    margin: 1rem 0;
    // min-width: 240px;
    user-select: none;    
    cursor: default;
    // text-shadow: none;
    position: relative;
    z-index: 20;
    
    .row {
        font-size: 0;
        display: flex;
        width: 100%;
        div {
            $key: 37pt;
            width: $key;
            height: $key;
            line-height: $key;
            font-size: 1rem;            
            background: rgba(255, 255, 255, .6);
            border: 1px outset #ccc;
            text-align: center;
            flex: 1 1 auto;
            padding: 2px;
            margin: 1px;
            white-space: nowrap;
            overflow: hidden;
            // @media screen and (max-width: $breakzero) {
            //     $key: 32pt;
            //     width: $key;
            //     height: $key;
            //     line-height: $key;
            //     font-size: .9rem;
            // }            
            @media screen and (max-width: $breakone) {
                $key: 25pt;
                width: $key;
                height: $key;
                line-height: $key;
                font-size: .8rem;
                
            }
            @media screen and (max-width: $breaktwo) {
                $key: 20pt;
                width: $key;
                height: $key;
                line-height: $key;
                font-size: .7rem;
            }
            @media screen and (max-width: $breakthree) {
                $key: 15pt;
                width: $key;
                height: $key;
                line-height: $key;
                font-size: .6rem;
                font-weight: bold;
            }
            @media screen and (max-width: $breakfour) {
                $key: 10pt;
                width: $key;
                height: $key;
                line-height: $key;
                font-size: .5rem;
            }
            span {
                pointer-events: none;
                font-size: 1.2em;                      
            }
            &:not(.shift)[data-title] {
                &:active {
                    border-style: inset;
                    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);            
                    span {
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }
        .hidden {
            display: none;
        }
        .final {
            background: #444;
            border-color: #666;
            color: white;
        }
        .old {
            background: #666;
            border-color: #888;
            color: white;
        }
        .final,
        .old {
            cursor: help;
        }
        .wide,
        .wider,
        .shift,
        .space {
            span {
                font-size: .7em;
            }
            font-weight: bold;
        }
        .wide {
            width: 45pt;
            @media screen and (max-width: $breakone) {
                width: 35pt;
            }
            @media screen and (max-width: $breaktwo) {
                width: 25pt;
            }
            @media screen and (max-width: $breakthree) {
                width: 15pt;
            }
            @media screen and (max-width: $breakfour) {
                width: 10pt;
            }
        }
        .wider {
            width: 60pt;
            @media screen and (max-width: $breakone) {
                width: 50pt;
                
            }
            @media screen and (max-width: $breaktwo) {
                width: 40pt;
            }
            @media screen and (max-width: $breakthree) {
                width: 30pt;
            }
            @media screen and (max-width: $breakfour) {
                width: 20pt;
            }
        }
        .shift {
            cursor: pointer;
            background: rgb(49, 98, 153);
            border-color: rgb(64, 120, 180);            
            color: white;
            // text-shadow: 1px 1px 2px rgba(49, 98, 153, 1);
            animation: keyglow 4s linear infinite;
            width: 70pt;
            @media screen and (max-width: $breakone) {
                width: 60pt;
                
            }
            @media screen and (max-width: $breaktwo) {
                width: 50pt;
            }
            @media screen and (max-width: $breakthree) {
                width: 40pt;
            }
            @media screen and (max-width: $breakfour) {
                width: 30pt;
            }
            &.down {
                background: rgb(44, 90, 139);
                border-style: inset;
                animation: none;
                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
                span {
                    position: relative;
                    top: 1px;
                }
            }
        }
        .hideoverflow {
            // @media screen and (max-width: $collapse) {
            //     overflow: hidden;
            // }
        }
        &.bottom {
            div {
                // min-width: 50px;
                // @media screen and (max-width: $collapse) {
                //     min-width: initial;
                // }
                &.vargin {
                    padding: 0;
                    margin: 0;
                    max-width: 6pt;
                    min-width: 0;
                    font-size: 0;
                    background: transparent;
                    border: none;
                    // @media screen and (max-width: $collapse) {
                    //     min-width: 0;
                    //     max-width: 0;
                    // }
                }
                &.space {
                    flex-grow: 40;
                    // @media screen and (max-width: $collapse) {
                    //     // width: initial;
                    // }
                }
            }
        }
    }
    

    *[onpointerdown^="pleiFon"]::before {
        right: 2px;
        top: 2px;
        @media screen and (max-width: $breakthree) {
            background-image: none;
            width: 0;
            height: 0;
        }
     }
     *[onpointerdown^="pleiFon"].old::before,
     *[onpointerdown^="pleiFon"].final::before  {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 57 57'> <path id='Path #2' fill='white' stroke='none' d='M 46.66,0.00 C 46.66,0.00 44.23,1.89 44.23,1.89 50.74,10.10 54.00,18.96 54.00,28.48 54.00,38.20 50.73,47.08 44.20,55.11 44.20,55.11 46.62,57.00 46.62,57.00 53.54,48.24 57.00,38.73 57.00,28.48 57.00,18.26 53.55,8.76 46.66,0.00 Z M 41.12,4.38 C 41.12,4.38 38.61,6.23 38.61,6.23 44.20,13.23 47.00,20.69 47.00,28.59 47.00,36.53 44.20,44.00 38.61,51.00 38.61,51.00 41.12,52.86 41.12,52.86 47.04,45.29 50.00,37.20 50.00,28.59 50.00,19.87 47.04,11.79 41.12,4.38 Z M 35.62,8.97 C 35.62,8.97 32.95,10.78 32.95,10.78 37.65,16.51 40.00,22.45 40.00,28.61 40.00,34.88 37.65,40.82 32.95,46.44 32.95,46.44 35.62,48.25 35.62,48.25 40.54,41.96 43.00,35.41 43.00,28.61 43.00,21.81 40.54,15.26 35.62,8.97 Z M 25.88,4.11 C 25.88,4.11 10.05,18.00 10.05,18.00 10.05,18.00 0.00,18.00 0.00,18.00 0.00,18.00 0.00,38.00 0.00,38.00 0.00,38.00 10.00,38.00 10.00,38.00 10.00,38.00 25.88,53.14 25.88,53.14 25.88,53.14 25.88,4.11 25.88,4.11 Z' /> </svg> ");
        @media screen and (max-width: $breakthree) {
            background-image: none;
            width: 0;
            height: 0;
        }
    }
      *[onpointerdown^="pleiFon"]:active::before {
        top: 3px;
        height: 11.5px;
     }
}

.versions {
    // text-shadow: none;
    $small: .8rem;
    $big: 1rem;
    $wide: calc(2rem+3px);
    // max-width: 680px;
    
    vertical-align: bottom;
    cursor: default;
    text-align: right;
    font-size: 0;
    >span {
        font-size: $small;
        line-height: 1.7rem;
        margin-right: 1px;
        margin-bottom: 2px;
        @media screen and (max-width: $breakfour) {
            >span {
                display: none;
            }
        }
    }
    a {
        display: inline-block;
        vertical-align: bottom;
        min-width: $big;
        height: $big;
        border: 1px solid rgb(49, 98, 153);
        text-align: center;
        margin-right: 4px;
        margin-bottom: 4px;
        font-size: $small;
        line-height: $big;
        padding: 2px;
        &.large {
            font-size: $small;
            font-weight: bold;
            padding: 2px 6px;
            width: $wide;
            margin-right: 1px;
        }
        &.active {
            background: rgb(49, 98, 153);
            border-color: black;
            &:link,
            &:visited {
                color: white;
            }
            &:hover,
            &:active {
                color: white;
            }
        }
        &:active, &:focus {
            background: rgb(49, 98, 153);
            border-color: black;
            color: white;
            // transition: none;
            
        }
    }
}