html {
    background: #eee;
    color: #333;
    background: url(../images/ulimpik-näšinul-park-2560w.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

main {
    color: #222;
    display: block;
    margin: 0 auto 20px auto;
    width: 80%;
    max-width: 700px;
    img {
        width: 100%;
        height: auto;
    }
    a:link,
    a:visited {
        color: #333;
    }
}

.nobg {
    background: transparent;
}

main,
table {
    background-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40vh, rgba(255, 255, 255, 0.7) 100vh);
    background-attachment: fixed;
    padding: 10px;
    font-size: .8em;
}

p {
    color: #222;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: .3em 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

a {
    transition: color .2s linear, text-shadow .2s linear;
    &:link,
    &:visited {
        color: rgb(49, 98, 153);
    }
    &:hover,
    &:active {
        color: #333;
        text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
    }
    &.icon {
        text-decoration: none;
        &:link,
        &:visited {
            color: #333;
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
        }
    }
}

nav {
    user-select: none;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2em;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 0 20px;
        display: inline-block;
    }
    &.top {
        a {
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
        }
        li {
            &:nth-of-type(1) a {
                &:hover,
                &:active {
                    text-shadow: -6px 3px 6px rgba(97, 164, 241, 0.67);
                }
            }
            &:nth-of-type(2) a {
                &:hover,
                &:active {
                    text-shadow: -2px 4px 6px rgba(97, 164, 241, 0.67);
                }
            }
            &:nth-of-type(3) a {
                &:hover,
                &:active {
                    text-shadow: 2px 4px 6px rgba(97, 164, 241, 0.67);
                }
            }
            &:nth-of-type(4) a {
                &:hover,
                &:active {
                    text-shadow: 6px 3px 6px rgba(97, 164, 241, 0.67);
                }
            }
        }
    }
    &.bottom {
        li {
            padding: 0 8px;
        }
        a {
            color: #eee;
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: #eee;
            }
            &.back {
                &:hover,
                &:active {
                    text-shadow: -6px 3px 6px rgba(255, 255, 255, 0.6);
                }
            }
            &.next {
                &:hover,
                &:active {
                    text-shadow: 6px 3px 6px rgba(255, 255, 255, 0.6);
                }
            }
            &.disabled {
                opacity: .2;
                &:hover,
                &:active {
                    text-shadow: none;
                }
                i {
                    visibility: hidden;
                }
            }
        }
    }
}

header {
    user-select: none;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    h1 {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        top: 40px;
        z-index: -1;
    }
}

table {
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
    &.words {
        width: 80%;
        max-width: 700px;
        td:nth-of-type(4),
        td:nth-of-type(5),
        td:nth-of-type(6) {
            text-align: center;
        }
    }
    &.stats {
        th:nth-of-type(1),
        td:nth-of-type(1) {
            display: none;
        }
        td:nth-of-type(2) {
            text-align: center;
        }
        th:nth-of-type(n+3),
        td:nth-of-type(n+3) {
            text-align: right;
        }
    }
    &.key {
        position: absolute;
        top: 10px;
        right: 10px;
        caption {
            font-size: 1.2em;
            font-weight: bold;
            cursor: default;
            background: #444;
            color: #eee;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
        td:nth-of-type(1) {
            text-align: center;
        }
        td,
        th {
            padding: 2px 5px;
        }
    }
    tr:nth-of-type(even) {
        background: rgba(100, 100, 100, 0.1);
    }
    th,
    td,
    caption {
        padding: 5px 5px;
    }
    th {
        user-select: none;
        white-space: nowrap;
        text-align: center;
        cursor: default;
        background: #444;
        color: #eee;
        line-height: 2em;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        &:nth-last-of-type(1) {
            border: 0;
        }
        >a {
            text-decoration: none;
            >i {
                position: relative;
                left: 2px;
            }
            >span {
                padding-bottom: 1px;
                border-bottom: 1px solid #eee;
                transition: .1s border-color linear;
            }
            &:link,
            &:visited {
                color: #eee;
            }
            &:hover,
            &:active {
                color: #7BA9E0;
                >span {
                    border-color: #7BA9E0;
                }
            }
        }
        .info.nolink:hover {
            border-color: #eee;
        }
    }
    td {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        overflow: scroll-x;
        text-align: left;
        color: #222;
        &:nth-last-of-type(1) {
            border: 0;
        }
        a:link,
        a:visited {
            color: #333;
        }
    }
}

.info {
    position: relative;
    &[title]:hover:after {
        font-weight: normal;
        content: attr(title);
        padding: 4px 4px;
        color: #333;
        position: absolute;
        top: -2px;
        right: 104%;
        white-space: nowrap;
        background: #eee;
        z-index: 2;
        border-radius: 5px;
        box-shadow: 0px 0px 4px #222;
        text-shadow: none;
        line-height: 1;
        font-size: .82rem;
    }
    &.nolink {
        transition: border-color .2s linear;
        border-bottom: 1px dashed transparent;
        cursor: help;
        &:hover {
            border-color: #333;
        }
    }
}

.icon {
    float: right;
}

.col {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
}

$header_offset: .55em;
#id {
    width: 2.5rem;
}

#pus {
    width: 3.8rem;
}

#nw a {
    position: relative;
    left: $header_offset;
}

#old a {
    position: relative;
    left: $header_offset;
}

#dist {
    width: 2.5rem;
}

#sil {
    width: 1.4rem;
}

.no-results {
    background: transparent !important;
    td {
        text-align: left;
        font-size: 3rem;
        font-weight: bold;
        height: 600px;
        position: relative;
    }
    span {
        animation: spin 18s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        margin: -30px 0 0 -250px;
        text-align: center;
        &:hover {
            animation-play-state: paused;
        }
    }
    a {
        &:link,
        &:visited {
            color: #333;
        }
        &:hover,
        &:active {
            color: #333;
            text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
        }
    }
    i {
        position: relative;
        display: inline-block;
        &:nth-of-type(1) {
            left: 0;
            animation: spin2 9s linear infinite;
        }
        &:nth-of-type(2) {
            right: 0;
            animation: spin 9s linear infinite;
        }
        position: absolute;
    }
}

textarea {
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 200px;
    min-height: 200px;
    font-size: .8rem;
    padding: 4px;
    margin-top: 1rem;
}

form {
    text-align: center;
}

input[type="submit"] {
    font-size: 1.2rem;
    font-weight: bold;
}

i {
    font-style: normal;
}

.hidden {
    visibility: hidden;
}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

ul {
    cursor: default;
}

.ui-accordion {
    text-align: right;
    margin: 0 0 1.4em;
    .ui-accordion-header {
        transition: all .2s linear;
        font-size: 1rem;
        padding: .2rem 0 !important;
        color: rgb(49, 98, 153);
        display: inline-block !important;
        &:hover {
            text-shadow: 0px 3px 6px rgba(255, 255, 255, 0.4);
            color: #333;
        }
        &[aria-expanded="false"] .ui-accordion-header-icon::after {
            content: "🡇";
        }
        &[aria-expanded="true"] .ui-accordion-header-icon::after {
            content: "🡅";
        }
        .text {
            font-style: italic;
        }
    }
    .ui-accordion-content {
        padding: .3em .5em !important;
        font-style: italic;
        font-size: .9em;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        text-align: left;
    }
    .ui-icon {
        text-indent: 0;
    }
}

::selection {
    color: #eee; 
    background: rgba(49, 98, 153, .99);
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}