html {
    background: #333;
    color: #eee;
    background: url(../images/ulimpik-näšinul-park-2560w.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav {
    user-select: none;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 0 20px;
        display: inline-block;
    }
}

header {
    user-select: none;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
    img {
        width: 100%;
        max-width: 400px;
        height: auto;
        margin: auto;
        display: block;
        position: relative;
        top: 40px;
        z-index: -1;
    }
}

table {
    margin: auto;
    padding: 10px;
}

td,
th {
    padding: 5px 5px;
}

th {
    user-select: none;
}

.wørdz {
    width: 80%;
    max-width: 777px;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50vh, rgba(255, 255, 255, 0.6) 100vh);
    background-attachment: fixed;
    color: black;
    box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.2);
    margin-bottom: 20px;
    font-size: .8em;
    tr:nth-of-type(even) {
        background: rgba(100, 100, 100, 0.1);
    }
    th {
        white-space: nowrap;
        text-align: center;
        cursor: default;
        background: #444;
        color: #eee;
        line-height: 2em;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        >a {
            >span {
                text-decoration: underline;
            }
            &:link,
            &:visited {
                color: #eee;
            }
            &:hover,
            &:active {
                color: #7BA9E0;
            }
        }
        >span {
            cursor: help;
        }
    }
    td {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        overflow: scroll-x;
    }
    td:nth-of-type(2) {
        >span {
            cursor: help;
        }
        >a {
            float: right;
        }
    }
}

.thry td {
    width: 33.333%;
}

$header_offset: .55em;
#id {
    width: 2.5rem;
}

#pus {
    width: 3.8rem;
}

#nw a {
    position: relative;
    left: $header_offset;
}

#old a {
    position: relative;
    left: $header_offset;
}

#dist {
    width: 2.5rem;
}

#sil {
    width: 1.4rem;
}

a {
    font-weight: bold;
    text-decoration: none;
    &:link,
    &:visited,
    &:hover,
    &:active {
        color: #333;
    }
    &:hover,
    &:active {
        text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
    }
}

nav {
    &.top {
        a {
            font-size: 1.2em;
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
            transition: all .15s linear;
        }
        li {
            &:nth-of-type(1) a {
                &:hover,
                &:active {
                    text-shadow: -6px 3px 6px rgba(97, 164, 241, 0.67);
                }
            }
            &:nth-of-type(3) a {
                &:hover,
                &:active {
                    text-shadow: 6px 3px 6px rgba(97, 164, 241, 0.67);
                }
            }
        }
    }
    &.bottom {
        ul {
            cursor: default;
            font-size: 1.5em;
        }
        li {
            padding: 0 8px;
        }
        a {
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: #eee;
            }
            &.back {
                &:hover,
                &:active {
                    text-shadow: -6px 3px 6px rgba(255, 255, 255, 0.6);
                }
            }
            &.next {
                &:hover,
                &:active {
                    text-shadow: 6px 3px 6px rgba(255, 255, 255, 0.6);
                }
            }
            &.disabled {
                opacity: .2;
                &:hover,
                &:active {
                    text-shadow: none;
                }
                i {
                    visibility: hidden;
                }
            }
        }
        i {
            position: relative; // top: -.2em;
        }
    }
}

i {
    font-style: normal;
}

.hidden {
    visibility: hidden;
}

.no-results {
    td {
        text-align: left;
        font-size: 3rem;
        font-weight: bold;
        height: 600px;
        position: relative;
    }
    background: transparent !important;
    span {
        animation: spin 18s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        margin: -30px 0 0 -250px;
        text-align: center;
        &:hover {
            animation-play-state: paused;
        }
    }
    i {
        position: relative;
        display: inline-block;
    }
    a {
        &:link,
        &:visited {
            color: #333;
        }
        &:hover,
        &:active {
            color: #333;
            text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
        }
    }
    i {
        &:nth-of-type(1) {
            left: 0;
            animation: spin2 9s linear infinite;
        }
        &:nth-of-type(2) {
            right: 0;
            animation: spin 9s linear infinite;
        }
        position: absolute;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}