@import "about";
@import "anim";
@import "headnavfoot";
@import "info";
@import "kbd";
@import "misc";
@import "table";
@import "words";

html {
    background: #eee;
    color: #333;
    background: url(../images/ulimpik-näšinul-park-2560w.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}

main {
    color: #222;
    display: block;
    img {
        width: 100%;
        height: auto;
    }
    a:link,
    a:visited {
        color: black;
    }
    a:hover,
    a:active {
        border-color: black;
    }
}

main {
    background-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40vh, rgba(255, 255, 255, 0.86) 90vh, rgba(255, 255, 255, .5) 100vh);
    background-attachment: fixed;
    padding: 10px;
    box-sizing: border-box;
    font-size: .8rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
    color: #222;
}


p {
    margin: .3rem 0 1rem 0;
}
h1,
h2,
h3 {
    margin: 1rem 0 .5rem 0;
}
p,
h1,
h2,
h3,
li {
    line-height: 1.3em;
    &:first-of-type{
        margin-top: 0;
    }
}
h1 {
    font-size: 1.8rem;
    font-weight: normal;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
    opacity: .8;
    font-style: italic;
}

#fillY {
    flex: 1 1 auto;
}
main,
header,
#orth,
#words,
#stats,
#legend {
    max-width: 700px;
    width: 100%;
    margin: auto;
    border-radius: 10px;  
}

a {
    transition: color .2s linear, text-shadow .2s linear, border-color .2s linear;
    text-decoration: none;
    &:link,
    &:visited {
        color: rgb(49, 98, 153);
        border-bottom: 1px solid rgb(49, 98, 153);
    }
    &:hover,
    &:active {
        color: #333;
        border-color: #333;
        text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
    }
    &.icon {
        text-decoration: none;
        border: 0;
        float: right;
        width: 20px;
        &:link,
        &:visited {
            color: #333;
        }
    }
}

