@import "anim";
@import "headnavfoot";
@import "info";
@import "kbd";
@import "misc";
@import "table";
@import "words";

$roboto: 'Roboto', sans-serif;
$monoto: 'Roboto Mono', monospace;

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
    background: #eee;
    color: #333;
    font-family: $roboto;
    font-size: 16px;
    background-image: url(../images/ulimpik-naashinul-park-2560w.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    @media screen and (max-width: 700px) {
        background-size: auto 100vh;
        background-position: top;
    }
    @media screen and (min-width: 701px) {
        background-size: cover;
        background-position: bottom;    
    }
}
body{
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}

.bggrad{
    background-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 40vh,rgba(255,255,255,.8) 70vh);    
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-position: top;
    max-width: 700px;
    width: 100%;
    height: 100%;
    position: fixed;
    @media screen and (min-width: 701px) {
        left: 50%;
        margin-left: -350px;  
    }
    z-index: -1;
}

main {
    color: #222;
    display: block;

    padding: 10px;
    font-size: .8rem;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 1;
    img {
        width: 100%;
        height: auto;
    }
    a:link,
    a:visited {
        color: black;
    }
    a:hover,
    a:active {
        border-color: black;
    }

}



#fillY {
    flex: 1 1 auto;
}
main,
header,
#words,
table.stats,
#legend {
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    @media screen and (min-width: 700px) {
        margin-left: auto;
        margin-right: auto;  
    }
    @media screen and (min-width: 701px) {
        border-radius: 10px;
    }
}
p,
h1,
h2,
h3,
li {
    line-height: 1.5em;
    
}
p {
    margin: .3rem 0 1rem 0;
}
h1,
h2, 
h3 {
    margin: 1rem 0 .5rem 0;    
}
p,
h1,
h2 {
    &:first-of-type{
        margin-top: 0;
    }
}
h1 {
    font-size: 1.8rem;
    font-weight: normal;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
    color: #333;
    font-style: italic;
}


a {
    transition: color .2s linear, text-shadow .2s linear, border-color .2s linear;
    text-decoration: none;
    &:link,
    &:visited {
        color: rgb(49, 98, 153);
        border-bottom: 1px solid rgb(49, 98, 153);
    }
    &:hover,
    &:active {
        color: #333;
        border-color: #333;
        text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
    }
    &.icon {
        text-decoration: none;
        border: 0;
        float: right;
        width: 20px;
        &:link,
        &:visited {
            color: #333;
        }
    }
}

