html {
    background: #eee;
    color: #333;
    background: url(../images/ulimpik-näšinul-park-2560w.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

main {
    color: #222;
    display: block;
    img {
        width: 100%;
        height: auto;
    }
    a:link,
    a:visited {
        color: black;
    }
    a:hover,
    a:active {
        border-color: black;
    }
    p,
    h1,
    h2,
    h3,
    li {
        line-height: 1.4em;
    }
    p,
    h1 {
        margin: .25em 0;
    }
    p {
        color: #222;
    }
    h1 {
        font-size: 1.8rem;
        font-weight: normal;
    }
    h2,
    h3 {
        margin: .5em 0 .2em;
    }
    h2 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1rem;
        opacity: .8;
        font-style: italic;
    }
}


main,
table {
    background-color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40vh, rgba(255, 255, 255, 0.86) 100vh);
    background-attachment: fixed;
    padding: 10px;
    box-sizing: border-box;
    font-size: .8rem;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}


main, header, #orth, #words, #stats, #legend {
    max-width: 700px;
    width: 100%;
    margin: auto;    
}

header {
    user-select: none;
    position: relative;
    h1 {
        margin:0;
        img {
            display: block;
            margin: auto;
            position: relative;
            top: 10px;
        }   
    }

}
#orth {
    position: relative;
    top: -.8em;
    z-index: 1;
    text-align: center;
    line-height: 0;
    font-style: italic;
    a{
    margin: 0 10px;
        &:link,
        &:visited {
            color: black;
        }
    }
}
nav {
    display: block;
    user-select: none;
    a {
        font-weight: bold;
        font-size: 1.2em;
        &:link,
        &:visited {
            border: 0;
        }
    }
    ul {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
     /* used on license page to get back to top of page */
    &.toTop {
        padding: 1em 0;
        a:link,
        a:visited{
            color: #316299;
        }
    }
    /* main navigation */
    &.top { 
        position: absolute;
        left: 10px;
        top: 70px;
        margin: 0;
        a {
            text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
        }
        li {
            display: block;
            &:nth-of-type(1) a {
                &:hover,
                &:active {
                    text-shadow: -4px -4px 6px rgba(97, 164, 241, 0.67);
                }
            }
            &:nth-of-type(2) a {
                &:hover,
                &:active {
                    text-shadow: -2px -2px 6px rgba(97, 164, 241, 0.67);
                }
            }
            &:nth-of-type(3) a {
                &:hover,
                &:active {
                    text-shadow: 0px 0px 6px rgba(97, 164, 241, 0.67);
                }
            }
            &:nth-of-type(4) a {
                &:hover,
                &:active {
                    text-shadow: 2px 2px 6px rgba(97, 164, 241, 0.67);
                }
            }
            &:nth-of-type(5) a {
                &:hover,
                &:active {
                    text-shadow: 4px 4px 6px rgba(97, 164, 241, 0.67);
                }
            }
        }
    }
    &.bottom {
        text-align: center;
        margin-top: 10px;
        li {
            padding: 0 8px;
            display: inline-block;            
        }
        a {
            color: #eee;
            &:link,
            &:visited,
            &:hover,
            &:active {
                color: #eee;
            }
            &.back {
                &:hover,
                &:active {
                    text-shadow: -6px 3px 6px rgba(255, 255, 255, 0.6);
                }
            }
            &.next {
                &:hover,
                &:active {
                    text-shadow: 6px 3px 6px rgba(255, 255, 255, 0.6);
                }
            }
            &.disabled {
                opacity: .2;
                &:hover,
                &:active {
                    text-shadow: none;
                }
                i {
                    visibility: hidden;
                }
            }
        }
    }
}


table {
    border-collapse: collapse;
    table-layout: fixed;
    &#words {
        margin-top: 10px;
        td:nth-of-type(4),
        td:nth-of-type(5),
        td:nth-of-type(6) {
            text-align: center;
        }
    }
    &#stats {
        margin-top: 10px;        
        td, th {
            text-align: center;            
        }
        th:nth-of-type(1),
        td:nth-of-type(1) {
            display: none;
        }
    }
    tr:nth-of-type(even) {
        background: rgba(100, 100, 100, 0.1);
    }
    td,
    caption {
        padding: 5px 5px;
    }
    th {
        user-select: none;
        white-space: nowrap;
        text-align: center;
        cursor: default;
        background: #444;
        color: #eee;
        line-height: 2em;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        &:nth-last-of-type(1) {
            border: 0;
        }
        >a {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 5px 5px;
            >i {
                position: relative;
                left: 2px;
            }
            >span {
                padding-bottom: 1px;
                border-bottom: 1px solid #eee;
                transition: .1s border-color linear;
            }
            &:link,
            &:visited {
                color: #eee;
                border: 0;
            }
            &:hover,
            &:active {
                color: #7BA9E0;
                >span {
                    border-color: #7BA9E0;
                }
            }
        }
        .info.nolink.hover:hover {
            border-color: #eee !important;
        }
    }
    td {
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        overflow: scroll-x;
        text-align: left;
        color: #222;
        &:nth-last-of-type(1) {
            border: 0;
        }
        a {
            &:link,
            &:visited {
                color: black;
            }
            &:hover,
            &:active {
                border-color: black;
            }
        }
    }
}

#legend {
    display: flex;
    align-content: top;
    table {
        display: inline-block;
        caption {
            font-size: 1.2em;
            font-weight: bold;
            cursor: default;
            background: #444;
            color: #eee;
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        }
        td:nth-of-type(1) {
            text-align: center;
            font-weight: bold;
        }
        td,
        th {
            padding: 2px 5px;
        }
    }

}

/* words table th*/
$header_offset: .55em;
#id {
    width: 2.8rem;
}

#pus {
    width: 3.8rem;
}

#nw a {
    position: relative;
    left: $header_offset;
}

#old a {
    position: relative;
    left: $header_offset;
}

#dist {
    width: 3rem;
}

#sil {
    width: 2rem;
}
/* end */


.info {
    position: relative;
    &[data-title]:hover:after {
        font-weight: normal;
        content: attr(data-title);
        padding: 4px 4px;
        color: #333;
        position: absolute;
        white-space: nowrap;
        background: #eee;
        z-index: 2;
        border-radius: 5px;
        box-shadow: 0px 0px 4px #222;
        text-shadow: none;
        line-height: 1;
        font-size: .82rem;
    }
    &.nolink {
        cursor: help;
    }
    &.hover{
        transition: border-color .2s linear;
        border-bottom: 1px dashed transparent;
        &:hover {
            border-color: #333;
        }
    }
    &.above {
        &[data-title]:hover:after {
            bottom: 108%;
            left: 0;
        }
    }
    &.below {
        &[data-title]:hover:after {
            top: 120%;
            left: 9px;
        }
    }
    &.toleft {
        &[data-title]:hover:after {
            top: -2px;
            right: 110%;
        }
    }
    &.toright {
        &[data-title]:hover:after {
            top: -2px;
            left: 110%;
        }
    }
}

#kbd {
    $collapse: 333px;
    margin: 1rem 0;
    min-width: 240px;
    cursor: default;    
    .row {
        font-size: 0;
        display: flex;
        width: 100%;
        div {
            $key: 39px;
            font-size: 1rem;
            background: rgba(255, 255, 255, .5);
            max-width: $key;
            height: $key;
            line-height: $key;
            border: 1px outset #ccc;
            text-align: center;
            flex: 1 1 auto;
            padding: 2px;
            margin: 1px;
            @media screen and (min-width: 700px) {
                min-width: 39px;
            }
        }
        .hidden {
            display: none;
        }
        .final {
            background: #444;
            border-color: #666;
            color: white;
        }
        .old {
            background: #666;
            border-color: #888;
            color: white;
        }
        .final,
        .old {
            cursor: help;
        }
        .varsize,
        .space {
            font-size: .6rem;
            font-weight: bold;
            max-width: initial;
        }
        .shift {
            cursor: pointer;
            &.down {
                border-style: inset;
                animation: none;
                box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
            }
            background: rgba(49, 98, 153, 1);
            border-color: rgb(103, 150, 197);
            color: white;
            text-shadow: 1px 1px 2px rgba(49, 98, 153, 1);
            animation: keyglow 4s linear infinite;
        }
        .hideoverflow {
            @media screen and (max-width: $collapse) {
                overflow: hidden;      
            }
        }
        &.bottom {
            div {
                min-width: 50px;
                @media screen and (max-width: $collapse) {
                    min-width: initial;
                }
                &.vargin{
                    padding: 0;
                    margin: 0;
                    max-width: 10px;
                    min-width: 0;
                    font-size: 0;
                    background: transparent;
                    border: none;
                    @media screen and (max-width: $collapse) {
                        min-width: 0;
                        max-width: 0;
                    }
                }
                &.space {
                    width: 333px;
                    max-width: inherit;
                    @media screen and (max-width: $collapse) {
                        width: initial;
                    }
                }
            }
        }
    }
}

.versions {
    $small: .8rem;
    $big: 1rem;
    vertical-align: bottom;
    cursor: default;
    text-align: right;
    font-size: 0;
    >span {
        font-size: $small;
        line-height: 1.7rem;
        margin-right: 1px;
        margin-bottom: 2px;
    }
    a {
        display: inline-block;
        vertical-align: bottom;
        min-width: $big;
        height: $big;
        border: 1px solid rgb(49, 98, 153);
        text-align: center;
        margin-right: 4px;
        margin-bottom: 4px;        
        font-size: $small;
        line-height: $big;
        padding: 2px;
        &.large {
            font-size: $small;
            font-weight: bold;
            padding: 2px 6px;
       
        }
        &.active {
            background: rgb(49, 98, 153);
            border-color: black;
            &:link,
            &:visited {
                color: white;
            }
            &:hover,
            &:active {
                color: white;
            }
        }
    }
}

a {
    transition: color .2s linear, text-shadow .2s linear, border-color .2s linear;
    text-decoration: none;
    &:link,
    &:visited {
        color: rgb(49, 98, 153);
        border-bottom: 1px solid rgb(49, 98, 153);
    }
    &:hover,
    &:active {
        color: #333;
        border-color: #333;
        text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
    }
    &.icon {
        text-decoration: none;
        border: 0;
        float: right;
        width: 20px;
        &:link,
        &:visited {
            color: #333;
        }
    }
}

.no-results {
    background: transparent !important;
    td {
        text-align: left;
        font-size: 3rem;
        font-weight: bold;
        height: 600px;
        position: relative;
    }
    span {
        animation: spin 18s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        margin: -30px 0 0 -250px;
        text-align: center;
        &:hover {
            animation-play-state: paused;
        }
    }
    a {
        &:link,
        &:visited {
            color: #333;
        }
        &:hover,
        &:active {
            color: #333;
            text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
        }
    }
    i {
        position: relative;
        display: inline-block;
        &:nth-of-type(1) {
            left: 0;
            animation: spin2 9s linear infinite;
        }
        &:nth-of-type(2) {
            right: 0;
            animation: spin 9s linear infinite;
        }
        position: absolute;
    }
}

.nobg {
    background: transparent;
}
.col {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1em;
}

textarea,
#kbddemo {
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
    font-family: 'Roboto', sans-serif;
    color: #222;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-size: .8rem;
    padding: 4px;
    margin-top: 1rem;
}

textarea {
    height: 200px;
}

form {
    text-align: center;
}

input[type="submit"] {
    font-size: 1.2rem;
    font-weight: bold;
}

i {
    font-style: normal;
}

.hidden {
    visibility: hidden;
}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

ul {
    cursor: default;
}
article, section{
    margin-bottom: 2em;
}

.älfubit {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.36rem;
    opacity: .5;
}
pre {
    font-family: 'Roboto Mono', monospace;    
}

::selection {
    color: #eee;
    background: rgba(49, 98, 153, .99);
}

.straikthrw {
    text-decoration: line-through;
}

dl {
    margin: 0;
}

dt {
    font-style: italic;
    opacity: .7;
}

dd {
    padding-bottom: 1em;
}

dd:last-of-type {
    padding: 0;
}

@keyframes keyglow {
    0% {
        background: rgba(49, 98, 153, 1);
        border-color: rgb(134, 170, 206);
    }
    94% {
        background: rgba(49, 98, 153, 1);
        border-color: rgb(134, 170, 206);
    }
    96% {
        background: rgba(49, 98, 153, .7);
        border-color: rgb(103, 150, 197);
    }
    98% {
        background: rgba(49, 98, 153, .7);
        border-color: rgb(103, 150, 197);
    }
    100% {
        background: rgba(49, 98, 153, 1);
        border-color: rgb(134, 170, 206);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    100% {
        transform: rotate(-360deg);
    }
}