#stats {
    margin-top: 10px;
    td,
    th {
        text-align: center;
    }
    th:nth-of-type(1),
    td:nth-of-type(1) {
        display: none;
    }
    th:nth-of-type(2) {
        width: 2rem;
    }
    th:nth-of-type(3) {
        width: 3rem;
    }
    th:nth-of-type(4) {
        width: 3rem;
    }
    th:nth-of-type(5) {
        width: 3rem;
    }
    th:nth-of-type(6) {
        width: 3rem;
    }
}


.nobg {
    background: transparent;
}

.col {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    width: 140px;
    h3 {
    }
}
.center{
    text-align: center;
}
textarea,
#kbddemo {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
    font-family: $roboto;
    color: #222;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-size: .8rem;
    padding: 4px;
    margin-top: 1rem;
    border-radius: 10px;
}

textarea {
    height: 200px;
}

input[type="submit"] {
    font-size: .6rem;
    font-weight: bold;
    display: block;
    margin: 10px 1px 1px 1px;
    width: 97px;
    height: 39px;
    background: rgb(49, 98, 153);
    border-style: outset;
    border-color: rgb(64, 120, 180);
    border-width: 1px;
    box-sizing: content-box;
    padding: 2px;
    color: white;
    text-shadow: 1px 1px 2px rgb(49, 98, 153);
    animation: keyglow 4s linear infinite;
    cursor: pointer;
    &:active {
        background: rgb(44, 90, 139);
        font-size: .58rem;
        border-style: inset;
        animation: none;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

}

i {
    font-style: normal;
    width: .6rem;
    height: .6rem;
    display: inline-block;
    @media (max-width: 219px) {
        display: none;
    }
    transition: .2s background-image linear;
    
    &.arrow {
        background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 104 104' version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><path d='M103.475,54.318l-24.625,0l0,49.2l-54.224,0l0,-49.2l-24.626,0l51.738,-54.318l51.737,54.318Z' fill='white'/></svg>");
        position: relative;
        &.sort{
            left: .2rem;    
            top: .03rem;         
        }
        &.blue{
            background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 104 104' version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><path d='M103.475,54.318l-24.625,0l0,49.2l-54.224,0l0,-49.2l-24.626,0l51.738,-54.318l51.737,54.318Z' fill='#316299'/></svg>");
        }
    } 
    &.down {
        transform: rotate(180deg);
    }
    &.right,
    &.left {
        width: 1rem;
        height: 1rem;
    }
    &.right {
        transform: rotate(90deg);
    }
    &.left {
        transform: rotate(-90deg);
    }
}

th a:hover i.sort{
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 104 104' version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><path d='M103.475,54.318l-24.625,0l0,49.2l-54.224,0l0,-49.2l-24.626,0l51.738,-54.318l51.737,54.318Z' fill='#7BA9E0'/></svg>");
}


.hidden {
    display: none;
}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

ul {
    cursor: default;

}

article:not(:last-of-type),
section:not(:last-of-type) {
    margin: .5rem 0 1.5rem;
    
}

article:nth-of-type(odd) {
    $bgcolor: rgba(255, 255, 255, 0.1);
    background: $bgcolor;
    box-shadow: 0 0 20px 10px $bgcolor;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, .2);   
}

pre {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    font-family: $monoto;
    white-space: pre-wrap;
    font-size: .7rem;
    padding: .5rem;
    margin: 0 0 1rem;
    overflow-y: auto;
    max-height: 320px;
    box-shadow: inset 0 2px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.alphabet {
    font-family: $monoto;
    font-size: 1.36rem;
    color: rgba(49, 98, 153, .5); 
    >span{
        display: block;
    }
    
    @media screen and (max-width: 699px){
        .nomobile{
            display: none;
        }
        >span>span>span {
            display: block;
        }
    }
    @media screen and (max-width: 349px){
        >span>span>span {
            display: inline;
            text-align: center;
        
        }
    }
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

::selection {
    color: #eee;
    background: rgba(49, 98, 153, .99);
}

.straikthrw {
    text-decoration: line-through;
}

dl {
    margin: 0;
}

dt {
    font-style: italic;
}

dd {
    padding-bottom: 1em;
}

dd:last-of-type {
    padding: 0;
}

