table.stats {
    margin-top: 10px;
    td,
    th {
        text-align: center;
    }

    th:nth-of-type(1) {
        width: 2rem;
    }
    th:nth-of-type(2) {
        width: 3rem;
    }
    th:nth-of-type(3) {
        width: 3rem;
    }
    th:nth-of-type(4) {
        width: 3rem;
    }
    th:nth-of-type(5) {
        width: 3rem;
    }
    th:nth-of-type(6),
    td:nth-of-type(6) {
        display: none;
    }

    th:nth-of-type(3),
    td:nth-of-type(3) {
        @media (max-width: 399px) {
            display: none;
        }
    }
}


.nobg {
    background: transparent;
}

.phoncol {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    width: 190px;
    span {
        user-select: none;
    }
}
.center{
    text-align: center;
}
textarea,
#kbddemo {
    background: rgba(255, 255, 255, 0.5);
    border: 0;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
    font-family: $roboto;
    color: #222;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-size: .8rem;
    padding: 4px;
    margin-top: 1rem;
    border-radius: 10px;
}

textarea {
    height: 200px;
    overflow-x: hidden;
}

input[type="submit"] {
    font-size: .6rem;
    font-weight: bold;
    display: block;
    margin: 10px 1px 1px 1px;
    width: 97px;
    height: 39px;
    background: rgb(49, 98, 153);
    border-style: outset;
    border-color: rgb(64, 120, 180);
    border-width: 1px;
    box-sizing: content-box;
    padding: 2px;
    color: white;
    text-shadow: 1px 1px 2px rgb(49, 98, 153);
    animation: keyglow 4s linear infinite;
    cursor: pointer;
    &:active {
        background: rgb(44, 90, 139);
        font-size: .58rem;
        border-style: inset;
        animation: none;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

}



*[onpointerdown^="pleiFon"]::before {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 57 57'> <path fill='black' stroke='none' d='M 46.66,0.00 C 46.66,0.00 44.23,1.89 44.23,1.89 50.74,10.10 54.00,18.96 54.00,28.48 54.00,38.20 50.73,47.08 44.20,55.11 44.20,55.11 46.62,57.00 46.62,57.00 53.54,48.24 57.00,38.73 57.00,28.48 57.00,18.26 53.55,8.76 46.66,0.00 Z M 41.12,4.38 C 41.12,4.38 38.61,6.23 38.61,6.23 44.20,13.23 47.00,20.69 47.00,28.59 47.00,36.53 44.20,44.00 38.61,51.00 38.61,51.00 41.12,52.86 41.12,52.86 47.04,45.29 50.00,37.20 50.00,28.59 50.00,19.87 47.04,11.79 41.12,4.38 Z M 35.62,8.97 C 35.62,8.97 32.95,10.78 32.95,10.78 37.65,16.51 40.00,22.45 40.00,28.61 40.00,34.88 37.65,40.82 32.95,46.44 32.95,46.44 35.62,48.25 35.62,48.25 40.54,41.96 43.00,35.41 43.00,28.61 43.00,21.81 40.54,15.26 35.62,8.97 Z M 25.88,4.11 C 25.88,4.11 10.05,18.00 10.05,18.00 10.05,18.00 0.00,18.00 0.00,18.00 0.00,18.00 0.00,38.00 0.00,38.00 0.00,38.00 10.00,38.00 10.00,38.00 10.00,38.00 25.88,53.14 25.88,53.14 25.88,53.14 25.88,4.11 25.88,4.11 Z' /> </svg> ");
    background-repeat: no-repeat;
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    opacity: .7;

}

.phoncol *[onpointerdown^="pleiFon"]::before {
    left: -17px;
    top: 1px;
}

#kbd {

    *[onpointerdown^="pleiFon"]::before {
        right: 2px;
        top: 2px;
     }
     *[onpointerdown^="pleiFon"].old::before,
     *[onpointerdown^="pleiFon"].final::before  {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 57 57'> <path id='Path #2' fill='white' stroke='none' d='M 46.66,0.00 C 46.66,0.00 44.23,1.89 44.23,1.89 50.74,10.10 54.00,18.96 54.00,28.48 54.00,38.20 50.73,47.08 44.20,55.11 44.20,55.11 46.62,57.00 46.62,57.00 53.54,48.24 57.00,38.73 57.00,28.48 57.00,18.26 53.55,8.76 46.66,0.00 Z M 41.12,4.38 C 41.12,4.38 38.61,6.23 38.61,6.23 44.20,13.23 47.00,20.69 47.00,28.59 47.00,36.53 44.20,44.00 38.61,51.00 38.61,51.00 41.12,52.86 41.12,52.86 47.04,45.29 50.00,37.20 50.00,28.59 50.00,19.87 47.04,11.79 41.12,4.38 Z M 35.62,8.97 C 35.62,8.97 32.95,10.78 32.95,10.78 37.65,16.51 40.00,22.45 40.00,28.61 40.00,34.88 37.65,40.82 32.95,46.44 32.95,46.44 35.62,48.25 35.62,48.25 40.54,41.96 43.00,35.41 43.00,28.61 43.00,21.81 40.54,15.26 35.62,8.97 Z M 25.88,4.11 C 25.88,4.11 10.05,18.00 10.05,18.00 10.05,18.00 0.00,18.00 0.00,18.00 0.00,18.00 0.00,38.00 0.00,38.00 0.00,38.00 10.00,38.00 10.00,38.00 10.00,38.00 25.88,53.14 25.88,53.14 25.88,53.14 25.88,4.11 25.88,4.11 Z' /> </svg> ");
     }
      *[onpointerdown^="pleiFon"]:active::before {
        top: 3px;
        height: 11.5px;
     }
}

i {
    font-style: normal;
    width: .6rem;
    height: .6rem;
    display: inline-block;
    @media (max-width: 219px) {
        display: none;
    }
    transition: .2s background-image linear;
    background-repeat: no-repeat;
    &.arrow {
        background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 104 104' version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><path d='M103.475,54.318l-24.625,0l0,49.2l-54.224,0l0,-49.2l-24.626,0l51.738,-54.318l51.737,54.318Z' fill='white'/></svg>");
        position: relative;
        &.sort{
            left: .2rem;    
            top: .03rem;         
        }
        &.blue{
            background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 104 104' version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><path d='M103.475,54.318l-24.625,0l0,49.2l-54.224,0l0,-49.2l-24.626,0l51.738,-54.318l51.737,54.318Z' fill='#316299'/></svg>");
        }
    } 
    &.down {
        transform: rotate(180deg);
        top: .1rem !important;                 
    }
    &.right,
    &.left {
        width: 1rem;
        height: 1rem;
    }
    &.right {
        transform: rotate(90deg);
    }
    &.left {
        transform: rotate(-90deg);
    }
}

th a:hover i.sort{
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' viewBox='0 0 104 104' version='1.1' xmlns='http://www.w3.org/2000/svg' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'><path d='M103.475,54.318l-24.625,0l0,49.2l-54.224,0l0,-49.2l-24.626,0l51.738,-54.318l51.737,54.318Z' fill='#7BA9E0'/></svg>");
}


.hidden {
    display: none;
}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

ul {
    cursor: default;

}

article:not(:last-of-type),
section:not(:last-of-type) {
    margin: .5rem 0 1.5rem;
    
}

article:nth-of-type(odd) {
    $bgcolor: rgba(255, 255, 255, 0.1);
    background: $bgcolor;
    box-shadow: 0 0 20px 10px $bgcolor;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, .2);   
}

pre {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    font-family: $monoto;
    white-space: pre-wrap;
    font-size: .7rem;
    padding: .5rem;
    margin: 0 0 1rem;
    overflow-y: auto;
    max-height: 320px;
    box-shadow: inset 0 2px 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.alphabet {
    font-family: $monoto;
    font-size: 1.36rem;
    color: rgba(49, 98, 153, .5); 
    >span{
        display: block;
    }
    
    @media screen and (max-width: 699px){
        .nomobile{
            display: none;
        }
        >span>span>span {
            display: block;
        }
    }
    @media screen and (max-width: 349px){
        >span>span>span {
            display: inline;
            text-align: center;
        
        }
    }
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

::selection {
    color: #eee;
    background: rgba(49, 98, 153, .99);
}

.straikthrw {
    text-decoration: line-through;
}

dl {
    margin: 0;
}

dt {
    font-style: italic;
}

dd {
    padding-bottom: 1em;
}

dd:last-of-type {
    padding: 0;
}

