#stats {
    margin-top: 10px;
    td,
    th {
        text-align: center;
    }
    th:nth-of-type(1),
    td:nth-of-type(1) {
        display: none;
    }
    th:nth-of-type(2) {
        width: 5rem;
    }
    th:nth-of-type(3) {
        width: 5.5rem;
    }
    th:nth-of-type(4) {
        width: 6rem;
    }
    th:nth-of-type(5) {
        width: 7rem;
    }
    th:nth-of-type(6) {
        width: 8rem;
    }
}


.nobg {
    background: transparent;
}

.col {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.center{
    text-align: center;
}
textarea,
#kbddemo {
    background: rgba(255, 255, 255, 0.3);
    border: 0;
    box-shadow: 0 0 4px 2px rgba(255, 255, 255, 0.5);
    font-family: 'Roboto', sans-serif;
    color: #222;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    font-size: .8rem;
    padding: 4px;
    margin-top: 1rem;
    border-radius: 10px;

}

textarea {
    height: 200px;
}

input[type="submit"] {
    font-size: .6rem;
    font-weight: bold;
    margin-top: 7px;
    width: 97px;
    height: 39px;
    background: rgb(49, 98, 153);
    border-color: rgb(103, 150, 197);
    border-width: 1px;
    color: white;
    text-shadow: 1px 1px 2px rgba(49, 98, 153, 1);
    animation: keyglow 4s linear infinite;
    cursor: pointer;
    &:active {
        background: rgb(44, 90, 139);
        font-size: .58rem;
        border-style: inset;
        animation: none;
        box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

}

i {
    font-style: normal;
}

i.hidden {
    visibility: hidden;
    display: none;
}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

ul {
    cursor: default;
}

article:not:last-of-type,
section:not:last-of-type {
    margin-bottom: 2em;
}

.älfubit {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.36rem;
    opacity: .5;
}


::selection {
    color: #eee;
    background: rgba(49, 98, 153, .99);
}

.straikthrw {
    text-decoration: line-through;
}

dl {
    margin: 0;
}

dt {
    font-style: italic;
    opacity: .7;
}

dd {
    padding-bottom: 1em;
}

dd:last-of-type {
    padding: 0;
}
