$header_offset: .55em;

#dist {
    width: 3.2rem;
}

#pus {
    width: 3.6rem;
}

#sil {
    width: 2rem;
}

#words {
    margin-top: 10px;
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5) {
        text-align: center;
    }
    th:nth-of-type(4),
    td:nth-of-type(4),
    th:nth-of-type(5),
    td:nth-of-type(5) {
        text-align: center;
        @media (max-width: 399px) {
            display: none;
        }
    }
    th:nth-of-type(3),
    td:nth-of-type(3) {
        @media (max-width: 299px) {
            display: none;
        }
    }
    // th:nth-of-type(2),
    // td:nth-of-type(2) {
    //     @media (max-width: 249px) {
    //         display: none;
    //     }
    // }
    td {
        @media (max-width: 499px) {
            .info {
                // transition: 0;
                border-width: 0px;
            }
            overflow-x: auto;
        }
    }
}
nav.index {
    // text-shadow: none;
    
    text-align: center;
    margin-top: 10px;
    font-family: $roboto;
    $small: .7em;
    $big: .8em;
    vertical-align: bottom;
    cursor: default;
    font-size: 0;

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 10pt;
        li {
            padding: 0 1px 2px 1px;
            // font-size: $small;  
            a, span {
                display: inline-block;
                vertical-align: bottom;
                min-width: $big;
                height: $big;
                text-align: center;
                line-height: $big;

            }
            a {
                padding: 1px;
                border: 1px solid rgb(49, 98, 153);
                &:active, &:focus {
                    background: rgb(49, 98, 153);
                    border-color: black;
                    color: white;
                    // transition: none;
                }
            }      
        }
    }
    &.dist {
        li a {
            font-size: .95rem;
        }
        span {
            font-weight: bold;
        }
    }
}

#legend {
    cursor: default;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0;
    line-height: 0;
    h3 {
        text-align: center;
        font-weight: normal;
        font-style: italic;
    }

    // @media (max-width: $breakfive) {
    //     display: none;
    // }
    div {
        display: block;
    }
    // @media screen and (min-width: $breakfour) {
    //     div {
    //         display: inline-block !important;
    //     }
    // }
    table {
        background: transparent;
        width: 10em;
        display: inline-block;
        text-align: left;
        font-size: 1rem;
        line-height: 1;
        td:nth-of-type(1) {
            text-align: center;
            font-weight: bold;
        }
        td,
        th {
            background: transparent;
            padding: 2px 5px;
            color: #444;
            white-space: nowrap;
            border: 0;
        }
        tr {
            background: transparent;
        }
    }
}

.no-results {
    background: transparent !important;
    td {
        text-align: left;
        font-size: 3rem;
        font-weight: bold;
        height: 600px;
        position: relative;
    }
    span {
        animation: spin 18s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        margin: -30px 0 0 -250px;
        text-align: center;
        &:hover {
            animation-play-state: paused;
        }
    }
    a {
        &:link,
        &:visited {
            color: #333;
        }
        &:hover,
        &:active {
            color: #333;
            // text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
        }
    }
    i {
        position: relative;
        display: inline-block;
        &:nth-of-type(1) {
            left: 0;
            animation: spin2 9s linear infinite;
        }
        &:nth-of-type(2) {
            right: 0;
            animation: spin 9s linear infinite;
        }
        position: absolute;
    }
}