/* words table th*/

$header_offset: .55em;
// #nw a {
//     position: relative;
//     left: $header_offset;
// }
// #old a {
//     position: relative;
//     left: $header_offset;
// }
#dist {
    width: 3.2rem;
}

#pus {
    width: 3.6rem;
}

#sil {
    width: 2rem;
}

#words {
    margin-top: 10px;
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5) {
        text-align: center;
    }
    th:nth-of-type(4),
    td:nth-of-type(4),
    th:nth-of-type(5),
    td:nth-of-type(5) {
        text-align: center;
        @media (max-width: 299px) {
            display: none;
        }
    }
    th:nth-of-type(3),
    td:nth-of-type(3) {
        @media (max-width: 199px) {
            display: none;
        }
    }
    th:nth-of-type(2),
    td:nth-of-type(2) {
        @media (max-width: 119px) {
            display: none;
        }
    }
    td {
        .icon {
            display: none;
        }
        @media (max-width: 499px) {
            .info {
                transition: 0;
                border-width: 0px;
            }
            overflow-x: auto;
        }
    }
}

#legend {
    cursor: default;
    margin-bottom: 10px;
    text-align: center;
    h3 {
        text-align: center;
        font-weight: normal;
        font-style: italic;
    }
    @media screen and (max-width: 599px) and (min-width: 400px) {
        div {
            display: block !important;
        }
    }
    @media (max-width: 299px) {
        display: none;
    }
    div {
        display: inline;
    }
    table {
        background: transparent;
        width: 140px;
        display: inline-block;
        text-align: left;
        td:nth-of-type(1) {
            text-align: center;
            font-weight: bold;
        }
        td,
        th {
            background: transparent;
            padding: 2px 5px;
            color: #444;
            white-space: nowrap;
            border: 0;
        }
        tr {
            background: transparent;
        }
    }
}

.no-results {
    background: transparent !important;
    td {
        text-align: left;
        font-size: 3rem;
        font-weight: bold;
        height: 600px;
        position: relative;
    }
    span {
        animation: spin 18s infinite;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 500px;
        margin: -30px 0 0 -250px;
        text-align: center;
        &:hover {
            animation-play-state: paused;
        }
    }
    a {
        &:link,
        &:visited {
            color: #333;
        }
        &:hover,
        &:active {
            color: #333;
            text-shadow: 0px 3px 6px rgba(97, 164, 241, 0.67);
        }
    }
    i {
        position: relative;
        display: inline-block;
        &:nth-of-type(1) {
            left: 0;
            animation: spin2 9s linear infinite;
        }
        &:nth-of-type(2) {
            right: 0;
            animation: spin 9s linear infinite;
        }
        position: absolute;
    }
}