html {
    background: #333;
    color: #eee;
    background: url(../images/ulimpik-näšinul-park-2560w.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav,
header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

header img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
    top: 40px;
}

nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 0 20px;
}

table {
    margin: auto;
    padding: 10px;
}

td,
th {
    padding: 5px 10px;
}

th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wørdz {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    background: rgba(255, 255, 255, .2);
    background: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .4));
    color: black;
    box-shadow: 10px 10px 10px rgba(0,0,0,.05);
    margin-bottom: 40px;
}

.thry td {
    width: 33.333%;
}

.for td {
    width: 25%;
}

.wørdz th {
    text-align: left;
    cursor: default;
    background: #444;
    color: #eee;
    line-height: 2em;
}

.wørdz tr:nth-of-type(even) {
    background: rgba(100, 100, 100, .1);
}

a {
    font-weight: bold;
    text-decoration: none;
}

a span {
    text-decoration: underline;
}

a:link,
a:visited {
    color: white;
}

a:hover,
a:active {
    color: yellowgreen;
}

nav a {
    font-size: 1.2rem;
    text-decoration: underline
}