th {
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
table {
    width: 100%;
}
td {
    width: 25%;
}