{{define "12.html"}}

<div class="kbd">
    <div class="row">
        <div class="old" onpointerover="getDetails('grave')"><span class="normal">`</span><span class="shifted hidden">~</span></div>
        <div><span class="normal">1</span><span class="shifted hidden">!</span></div>
        <div class="old" onpointerover="getDetails('two')"><span class="normal">2</span><span class="shifted hidden">@</span></div>
        <div><span class="normal">3</span><span class="shifted hidden">#</span></div>
        <div><span class="normal">4</span><span class="shifted hidden">$</span></div>
        <div><span class="normal">5</span><span class="shifted hidden">%</span></div>
        <div class="old" onpointerover="getDetails('six')"><span class="normal">6</span><span class="shifted hidden">^</span></div>
        <div class="old" onpointerover="getDetails('seven')"><span class="normal">7</span><span class="shifted hidden">&amp;</span></div>
        <div><span class="normal">8</span><span class="shifted hidden">*</span></div>
        <div><span class="normal">9</span><span class="shifted hidden">(</span></div>
        <div><span class="normal">0</span><span class="shifted hidden">)</span></div>
        <div><span class="normal">-</span><span class="shifted hidden">_</span></div>
        <div class="old" onpointerover="getDetails('equals')"><span class="normal">=</span><span class="shifted hidden">+</span></div>
        <div class="varsize">Backspace</div>
    </div>

    <div class="row">
        <div class="varsize">Tab</div>
        <div class="final" onpointerover="getDetails('aa')"><span class="normal">ä</span><span class="shifted hidden">Ä</span></div>
        <div class="old" onpointerover="getDetails('w')"><span class="normal">w</span><span class="shifted hidden">W</span></div>
        <div><span class="normal">e</span><span class="shifted hidden">E</span></div>
        <div><span class="normal">r</span><span class="shifted hidden">R</span></div>
        <div><span class="normal">t</span><span class="shifted hidden">T</span></div>
        <div class="old" onpointerover="getDetails('y')"><span class="normal">y</span><span class="shifted hidden">Y</span></div>
        <div><span class="normal">u</span><span class="shifted hidden">U</span></div>
        <div><span class="normal">i</span><span class="shifted hidden">I</span></div>
        <div><span class="normal">o</span><span class="shifted hidden">O</span></div>
        <div><span class="normal">p</span><span class="shifted hidden">P</span></div>
        <div class="old" onpointerover="getDetails('lbracket')"><span class="normal">[</span><span class="shifted hidden">{</span></div>
        <div class="old" onpointerover="getDetails('rbracket')"><span class="normal">]</span><span class="shifted hidden">}</span></div>
        <div class="old" onpointerover="getDetails('backslash')"><span class="normal">\</span><span class="shifted hidden">|</span></div>
    </div>

    <div class="row">
        <div class="varsize">Caps Lock</div>
        <div><span class="normal">a</span><span class="shifted hidden">A</span></div>
        <div><span class="normal">s</span><span class="shifted hidden">S</span></div>
        <div><span class="normal">d</span><span class="shifted hidden">D</span></div>
        <div><span class="normal">f</span><span class="shifted hidden">F</span></div>
        <div><span class="normal">g</span><span class="shifted hidden">G</span></div>
        <div><span class="normal">h</span><span class="shifted hidden">H</span></div>
        <div class="final" onpointerover="getDetails('oo')"><span class="normal">ø</span><span class="shifted hidden">Ø</span></div>
        <div><span class="normal">k</span><span class="shifted hidden">K</span></div>
        <div class="old" onpointerover="getDetails('l')"><span class="normal">l</span><span class="shifted hidden">L</span></div>
        <div class="old" onpointerover="getDetails('semicolon')"><span class="normal">;</span><span class="shifted hidden">:</span></div>
        <div class="old" onpointerover="getDetails('quote')"><span class="normal">'</span><span class="shifted hidden">"</span></div>
        <div class="varsize">Enter</div>        
    </div>

    <div class="row">
        <div class="varsize shift" onpointerdown="javascript:pressShift()">Shift</div>
        <div><span class="normal">z</span><span class="shifted hidden">Z</span></div>
        <div class="final" onpointerover="getDetails('zh')"><span class="normal">ž</span><span class="shifted hidden">Ž</span></div>
        <div class="final" onpointerover="getDetails('sh')"><span class="normal">š</span><span class="shifted hidden">Š</span></div>
        <div><span class="normal">v</span><span class="shifted hidden">V</span></div>
        <div><span class="normal">b</span><span class="shifted hidden">B</span></div>
        <div><span class="normal">n</span><span class="shifted hidden">N</span></div>
        <div><span class="normal">m</span><span class="shifted hidden">M</span></div>
        <div class="old" onpointerover="getDetails('comma')"><span class="normal">,</span><span class="shifted hidden">&lt;</span></div>
        <div class="old" onpointerover="getDetails('period')"><span class="normal">.</span><span class="shifted hidden">&gt;</span></div>
        <div class="old" onpointerover="getDetails('slash')"><span class="normal">/</span><span class="shifted hidden">?</span></div>
        <div class="varsize shift" onpointerdown="javascript:pressShift()">Shift</div>
    </div>
    <div class="row">
        <div class="varsize">Ctrl</div>
        <div class="varsize">Alt</div>
        <div class="space">Space</div>
        <div class="varsize">Alt</div>
        <div class="varsize">Ctrl</div>
    </div>
</div>


<script>
    let detailBox = document.getElementById("details")

    details = {
        grave : "",
        two : "",
        six : "",
        seven : "",
        equals : "",
        aa : "",
        w : "",
        y : "",
        lbracket : "",
        rbracket : "",
        backslash : "",
        oo : "",
        l : "",
        semicolon : "",
        quote : "",
        zh : "",
        sh : "",
        comma : "",
        period : "",
        slash : ""        
    }

    function getDetails(key) {
        detailBox.innerHTML = details[key]
    }
</script>
{{end}}