{{define "_footer.html"}}
</div>
<footer>
    {{if .DisplayTrud}}
    <p>Site, images, <a href="https://gitlab.com/nilsanderselde/funetik-ingglish" target="_blank">most of the source code</a>, and data formatting/editing by <a href="https://gitlab.com/nilsanderselde" target="_blank">Nils Elde</a> and under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="blank">no copyright</a> (<a href="/ubaawt">except where noted</a>).</p>
    {{else}}
    <p>Sait, imidžiz, <a href="https://gitlab.com/nilsanderselde/funetik-ingglish" target="_blank">most uv dhu sors kod</a>, änd deitu formäting/editing bai <a href="https://gitlab.com/nilsanderselde" target="_blank">Nils Elde</a> änd undør <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="blank">no kapyrait</a> (<a href="/ubaawt">eksept wer notid</a>).</p>
    {{end}}
</footer>
</body>
</html>
{{end}}