{{define "_header.html"}}
<!DOCTYPE html>
<html>
        
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/stylesheets/normalize.css">    
    <link rel="stylesheet" href="/static/stylesheets/jquery-ui.min.css">    
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <title>Funetik Inggliš</title>
</head>

<body>
    <header>
        <h1><img src="/static/images/logo.png" width="400" height="261" alt="ÄØŽŠ"></h1>

        <nav class="top">
            <ul>
            {{if .DisplayTrud}}
                <li><a href="/">Hom</a></li>
                <li><a href="/traanzlit">Tränzlit</a></li>
                <li><a href="/woordz">Wørdz</a></li>            
                <li><a href="/kybord">Kybord</a></li>
                <li><a href="/staats">Stäts</a></li>
                <li><a href="/kredits">Kredits</a></li>
            {{else}}
                <li><a href="/?orth=fun">Home</a></li>
                <li><a href="/traanzlit?orth=fun">Translit</a></li>   
                <li><a href="/woordz?orth=fun">Words</a></li>            
                <li><a href="/kybord?orth=fun">Keyboard</a></li>
                <li><a href="/staats?orth=fun">Stats</a></li>
                <li><a href="/kredits">Kredits</a></li>                
            {{end}}
            </ul>
        </nav>
    </header>
    {{if .MultipleOrth}}<div id="orth"><a href="{{.ChangeOrth}}"{{if .DisplayTrud}} data-title="Read this page in Phonetic English" class="info below">Ryd dhis peidž in Funetik Inggliš{{else}}>Read this page in traditional English{{end}}</a></div>{{end}}
{{end}}