{{define "_header.html"}}
<html>
        
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <title>Funetik Inggliš</title>
</head>

<body>
    <header>
        <img src="/static/images/banner.png" width="900" height="292">
    </header>
    <nav>
        <ul>
            <li><a href="/">Word list</a></li>
            <li><a href="levdist">Calculate Levenshtein difference</a></li>
            <li><a href="runestats">Count characters in words</a></li>
        </ul>
    </nav>
{{end}}