{{define "_header.html"}}
<!DOCTYPE html>
<html>
        
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/static/stylesheets/normalize.css">    
    <link rel="stylesheet" href="/static/stylesheets/jquery-ui.min.css">    
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <title>Funetik Inggliš</title>
</head>

<body>
    <header>
        <h1><a href="/"><img src="/static/images/logo.png" width="400" height="261" alt="ÄØŽŠ"></a></h1>
        <script type="text/javascript">
            /* prevents page reloads from toggling flags */
            var uri = window.location.toString();
            if (uri.indexOf("&id") > 0) {
                var clean_uri = uri.substring(0, uri.indexOf("&id"));
                window.history.replaceState({}, document.title, clean_uri);
            }
        </script>
        <a href="{{.CurrentPage}}" class="orth">{{if .DisplayTrud}}Ryd dhis peidž in Funetik Inggliš{{else}}Read this page in traditional English{{end}}</a>
    </header>
    <nav class="top">
        <ul>
        {{if .DisplayTrud}}
            <li><a href="/?orth=trud">Home</a></li>
            <li><a href="/traanzlit?orth=trud">Translit</a></li>   
            <li><a href="/woordz?orth=trud">Words</a></li>            
            <li><a href="/kybord?orth=trud">Keyboard</a></li>
            <li><a href="/staats?orth=trud">Stats</a></li>
        {{else}}
            <li><a href="/">Hom</a></li>
            <li><a href="/traanzlit">Tränzlit</a></li>
            <li><a href="/woordz">Wørdz</a></li>            
            <li><a href="/kybord">Kybord</a></li>
            <li><a href="/staats">Stäts</a></li>
        {{end}}
        </ul>
    </nav>
{{end}}