{{define "about.html"}}
{{template "_header.html" .}}
<main>
{{if .DisplayTrud}}
<h1>About</h1>

<p>To populate the Funetik Inggliš (FI) database with words and their phonetic representations, I used several sources,
    three with just the English spelling and one that also contained phonetic data.</p>

<p>I performed SQL intersections on the data, to identify words which appeared in multiple sources
    as important words to include in this initial word database, which I hope will continue to grow.</p>

<p>I would like to expand this site to all users to create accounts and submit
    their own pronunciations of words, linked to their demographic data.</p>

<p>There are likely still inaccurate phonetic representations in the database, either from the source material 
    or from an over-reaching regular-expression-based SQL update statement which changed too many things.
    An example of this was changing words like "competition", which was represented as "K AA2 M P AH0 T IH1 SH AH0 N"
    in the CMU list, which would be "kamputišun" in FI. I deemed it more accurate to write this as "kampitišin".
    The first instance of schwa after "kamp" could fairly be either [ʌ] or [ɪ], I think, but the final vowel before 'n' should
    definitely be [ɪ], not [ʌ], as [ʌ] in this position sounds and feels awkward. Simply replacing all words ending in -un 
    with -in wouldn't work, though, as the word "fun" would become "fin". Therefore, a more nuanced approach and a lot of proofreading
    was required.</p>
<p>While that is a seemingly minor change, other changes were <span class="straikthrw">brɔdør</span> broader.
        For instance, in the interest of refining an elegant
        orthography, I elected not to include the open-mid back rounded vowel [ɔ], present in American English speakers without the
        <a href="https://en.wikipedia.org/wiki/Cot%E2%80%93caught_merger" target="_blank">cot–caught merger</a>. The CMU authors evidently did 
        pronounce words with this vowel, and as such I had to replace [ɔ] with 'o' or 'a'. The CMU authors used [ɔ] for both "almost" (AO1 L M OW2 S T) and "war" (W AO1 R).</p>
        <p>While descriptive grammar is the only way to go (my idiolect isn't "better"), I had to choose one way to write each word for the purposes of this thought experiment. 
            As long as it's consistent, it's better than the amalgam of historical accidents which is our current orthography.</p>

<h2 id="top">Credits</h2>
<section>
    <ul>
        <li><a href="#cmu">The CMU Pronouncing Dictionary</a></li>
        <li><a href="#dwyl">english-words from dwyl on github</a></li>
        <li><a href="#silorg">wordsEn.txt from sil.org</a></li>
        <li><a href="#contractions">Wikipedia: List of English contractions</a></li>
        <li><a href="#firstnames">SSA: Top Names Over the Last 100 Years</a>
        <li><a href="#pos">Part of Speech Database on GitHub</a></li>
        <li><a href="#nltk">NLTK Distance Metrics</a></li>
    </ul>
</section>

<article>
    <h2 id="cmu">The CMU Pronouncing Dictionary</h2>

    <p>Source of pronunciation data which was substantially reformatted into a more readable format, with symbols for stress and syllable boundaries replacing the
        system of numbers.</p>
    <p>Most of the phonetic transliterations for Phonetic English were adapted from or at least compared against
        the CMU Pronouncing Dictionary. I only used about a third of
        their data, and made several broad changes affecting all or many of the words to make them consistent
        with the funeticization I thought could represent a general American accent. The changes I made were 
        informed by my own
        intuitions and idiolect, as well as what I learned in my study of linguistics, but not based on a large
        sampling of speaker data.</p>

    <ul>
        <li><a href="http://www.speech.cs.cmu.edu/cgi-bin/cmudict">CMU Pronouncing Dictionary (website)</a></li>
        <li><a href="https://raw.githubusercontent.com/aparrish/rwet-examples/master/pronouncing/cmudict-0.7b">CMU Pronouncing Dictionary (data)</a></li>
    </ul>

    <h3>License</h3>
    <pre>CMUdict  --  Major Version: 0.07

Copyright (C) 1993-2015 Carnegie Mellon University. All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions
are met:

1. Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.
    The contents of this file are deemed to be source code.

2. Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

This work was supported in part by funding from the Defense Advanced
Research Projects Agency, the Office of Naval Research and the National
Science Foundation of the United States of America, and by member
companies of the Carnegie Mellon Sphinx Speech Consortium. We acknowledge
the contributions of many volunteers to the expansion and improvement of
this dictionary.

THIS SOFTWARE IS PROVIDED BY CARNEGIE MELLON UNIVERSITY ``AS IS'' AND
ANY EXPRESSED OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO,
THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL CARNEGIE MELLON UNIVERSITY
NOR ITS EMPLOYEES BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</pre>

<nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Top <i class="arrow up blue"></i></a></nav>

</article>
    

<article>
    <h2 id="dwyl">english-words from dwyl on github</a></h2>

    <p>GitHub user dwyl ryformätid a list of words originally from Project Gutenberg.</p>

    <ul>
        <li><a href="https://github.com/dwyl/english-words" target="_blank">GitHub repository for dwyl/english-words</a></li>
        <li><a href="https://raw.githubusercontent.com/dwyl/english-words/master/words_alpha.txt" target="_blank">english-words (data)</a></li>
        <li><a href="https://github.com/dwyl/english-words/blob/master/LICENSE.md" target="_blank">License for english-words</a></li>
    </ul>

    <h3>Original Data Sources</h3> 
<pre>
<a href="http://www.gutenberg.org/etext/3201" target="_blank">http://www.gutenberg.org/etext/3201</a>

Moby Word Lists by Grady Ward

Help
Bibliographic Record [help] Creator	Ward, Grady
Title	Moby Word Lists
Language	English
LoC Class	PS: Language and Literatures: American literature
EText-No.	3201
Release Date	2002-05-01
Copyright Status	Not copyrighted in the United States. If you live elsewhere check the laws of your country before downloading this ebook.

Moby Thesaurus List by Grady Ward
<a href="http://www.gutenberg.org/etext/3202" target="_blank">http://www.gutenberg.org/etext/3202</a>
Creator	Ward, Grady
Title	Moby Thesaurus List
Language	English
LoC Class	PS: Language and Literatures: American literature
EText-No.	3202
Release Date	2002-05-01
Copyright Status	Not copyrighted in the United States. If you live elsewhere check the laws of your country before downloading this ebook.
</pre>

<nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Top <i class="arrow up blue"></i></a></nav>
</article>

<article>
    <h2 id="silorg">wordsEn.txt from sil.org</h2>

    <p>A list of 109582 English words compiled and corrected in 1991 from lists obtained from the Interociter bulletin board. The original read.me file said that the list came from Public Brand Software.</p>
    <p>This word list includes inflected forms, such as plural nouns and the -s, -ed and -ing forms of verbs. Thus the number of lexical stems represented in the list is considerably smaller than the total number of words.</p>

    <ul>
        <li><a href="http://www-01.sil.org/linguistics/wordlists/english/" target="_blank">Description of wordsEn.txt</a></li>
        <li><a href="http://www-01.sil.org/linguistics/wordlists/english/wordlist/wordsEn.txt" target="_blank">wordsEn.txt (data)</a></li>
    </ul>

    <nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Top <i class="arrow up blue"></i></a></nav>
</article>

<article>
    <h2 id="contractions">Wikipedia: List of English contractions</h2>
    <p>The few contractions that already were present in the word database were augmented with
        this list of contractions.</p>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/Wikipedia:List_of_English_contractions" target="_blank">List of English contractions</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License" target="_blank">Creative Commons Attribution-ShareAlike 3.0 Unported License</a></li>
        </ul>

    <nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Top <i class="arrow up blue"></i></a></nav>
</article>



<article>
    <h2 id="firstnames">SSA: Top Names Over the Last 100 Years</h2>
    <p>The 100 most popular given names for male and female babies born during 1917-2016 according to the Social Security Administration.</p>
        <ul>
            <li><a href="https://www.ssa.gov/oact/babynames/decades/century.html" target="_blank">Top 200 Names</a></li>
        </ul>

    <nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Top <i class="arrow up blue"></i></a></nav>
</article>


<article>
    <h2 id="pos">Part of Speech Database on GitHub</h2>

    <p>This is a great list of words with symbols for what part of speech they can be.</p>
    <p>I still need to make sure that where homonyms are not homophonic (e.g. the verb and noun "record"),
        the part(s)-of-speech entry is split appropriately.</p>
    <p>Also, not all words are currently tagged with part(s)-of-speech.</p>

    <ul>
        <li><a href="https://github.com/en-wl/wordlist/blob/master/pos/README" target="_blank">Readme for Parts of Speech Database</a></li>
        <li><a href="https://raw.githubusercontent.com/en-wl/wordlist/master/pos/part-of-speech.txt" target="_blank">Parts of Speech Database</a></li>
    </ul>

    <pre>Part Of Speech Database
July 23, 2000

Compiled by Kevin Atkinson &lt;kevina@users.sourceforge.net>

The part-of-speech.txt file contains is a combination of 
"Moby (tm) Part-of-Speech II" and the WordNet database.

                          COPYRIGHT

The Moby database was explicitly pleased in the public domain:

    The Moby lexicon project is complete and has
    been place into the public domain. Use, sell,
    rework, excerpt and use in any way on any platform.
    
    Placing this material on internal or public servers is
    also encouraged. The compiler is not aware of any
    export restrictions so freely distribute world-wide.
    
    You can verify the public domain status by contacting
    
    Grady Ward
    3449 Martha Ct.
    Arcata, CA  95521-4884
    
    grady@netcom.com
    grady@northcoast.com


The WordNet database is under the following Copyright:

    This software and database is being provided to you, the LICENSEE, by
    Princeton University under the following license.  By obtaining, using  
    and/or copying this software and database, you agree that you have  
    read, understood, and will comply with these terms and conditions.:  
    
    Permission to use, copy, modify and distribute this software and
    database and its documentation for any purpose and without fee or
    royalty is hereby granted, provided that you agree to comply with  
    the following copyright notice and statements, including the disclaimer,  
    and that the same appear on ALL copies of the software, database and  
    documentation, including modifications that you make for internal  
    use or for distribution.  
    
    WordNet 1.6 Copyright 1997 by Princeton University.  All rights reserved.  
    
    THIS SOFTWARE AND DATABASE IS PROVIDED "AS IS" AND PRINCETON  
    UNIVERSITY MAKES NO REPRESENTATIONS OR WARRANTIES, EXPRESS OR  
    IMPLIED.  BY WAY OF EXAMPLE, BUT NOT LIMITATION, PRINCETON  
    UNIVERSITY MAKES NO REPRESENTATIONS OR WARRANTIES OF MERCHANT-  
    ABILITY OR FITNESS FOR ANY PARTICULAR PURPOSE OR THAT THE USE  
    OF THE LICENSED SOFTWARE, DATABASE OR DOCUMENTATION WILL NOT  
    INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR  
    OTHER RIGHTS.
    
    The name of Princeton University or Princeton may not be used in  
    advertising or publicity pertaining to distribution of the software  
    and/or database.  Title to copyright in this software, database and  
    any associated documentation shall at all times remain with  
    Princeton University and LICENSEE agrees to preserve same.  

I assign no additional copyright to the combined database and the
software is explicitly being pleased in the public domain. However, I
would appreciate credit for my work.</pre>
    <nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Top <i class="arrow up blue"></i></a></nav>
    
</article>


<article>
<h2 id="nltk">NLTK Distance Metrics</h2>

<p>I based my implementation for calculating Levenshtein distance on the Python implementation
in the Natural Language Twlkit, part of the nltk.metrics.distance module.</p>

<ul>
    <li><a href="http://www.nltk.org/_modules/nltk/metrics/distance.html" target="_blank">NLTK Distance Metrics module</a></li>
</ul>

<pre>Copyright (C) 2001-2017 NLTK Project
Author: Edward Loper &lt;edloper@gmail.com>
        Steven Bird &lt;stevenbird1@gmail.com>
        Tom Lippincott &lt;tom@cs.columbia.edu>
URL: &lt;<a href="http://nltk.org/" target="_blank">http://nltk.org/</a>>
For license information, see LICENSE.TXT

LICENSE.TXT

Copyright (C) 2001-2014 NLTK Project

Licensed under the Apache License, Version 2.0 (the 'License');
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a>

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an 'AS IS' BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</pre>
<nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Top <i class="arrow up blue"></i></a></nav>
</article>

{{else}}

<h1>Ubawt</h1>
<p>Tw papyøleit dhu Funetik Inggliš (FI) deitubeis with wørdz änd dher funetik repruzinteišinz, Ai ywzd sevørul sorsiz, thry with džust dhu Inggliš speling änd wun dhät also kunteind funetik deitu.</p>

<p>Ai pørformd SQL intørsekšinz an dhu deitu, tw aidentifai wørdz witš upird in multipul sorsiz äz importint wørdz tw inklwd in dhis inišul wørd deitubeis, witš Ai hop wil kuntinyw tw gro.</p>

<p>Ai wød laik tw ekspänd dhis sait tw al ywzørz tw kryeit ukawnts änd submit dher on pronunsyeišinz uv wørdz, lingkt tw dher demigräfik deitu.</p>

<p>Dher ar laikly stil inäkyørut funetik repruzinteišinz in dhu deitubeis, aidhør frum dhu sors mutiryul or frum en ovør-rytšing regyølør-eksprešin-beist SQL updeit steitmint witš tšeindžd tw meny thingz. En egzämpul uv dhis waz tšeindžing wørdz laik "kampitišin", witš waz repruzentid äz "K AA2 M P AH0 T IH1 SH AH0 N" in dhu CMU list, witš wød by "kamputišun" in FI. Ai dymd it mor äkyørit tw rait dhis äz "kampitišin". Dhu først instins uv šwa äftør "kamp" kød ferly by aidhør [ʌ] or [ɪ], Ai thingk, but dhu fainul vawul bifor 'n' šød definitly by [ɪ], nat [ʌ], äz [ʌ] in dhis puzišin sawndz änd fylz akwørd. Simply ripleising al wørdz ending in -un with -in wødn't wørk, dho, äz dhu wørd "fun" wød bikum "fin". Dherfor, u mor nwanst uprotš änd u lat uv prwfryding waz rikwaiørd.</p>

<p>Wail dhät iz u symingly mainør tšeindž, udhør tšeindžiz wør <span class="straikthrw">brɔdør</span> bradør. For instins, in dhu intrist uv rifaining en eligint orthagrify, Ai ilektid nat tw inklwd dhu opin-mid bäk rawndid vawul [ɔ], prezint in Umerikin Inggliš spykørz withawt dhu <a href="https://en.wikipedia.org/wiki/Cot%E2%80%93caught_merger" target="_blank">cot–caught mørdžør</a>. Dhu CMU athørz evidintly did prunawns wørdz with dhis vawul, änd äz sutš Ai häd tw ripleis [ɔ] with 'o' or 'u'. Dhu CMU athørz ywzd [ɔ] for both "almost" (AO1 L M OW2 S T) änd "wor" (W AO1 R).</p>

<p>Wail diskriptiv grämør iz dhu only wei tw go (mai idyulekt izn't "betør"), Ai häd tw tšwz wun wei tw rait ytš wørd for dhu pørpusiz uv dhis that ekspirimint. Äz lang äz it's kunsistint, it's betør dhän dhu umälgum uv historikul äksidints witš iz awør kørint orthagrify.</p>

<h2 id="top">Kredits</h2>
<section>
    <ul>
        <li><a href="#cmu">Dhu CMU Prunawnsing Dikšinery</a></li>
        <li><a href="#dwyl">english-wørdz frum dwyl an github</a></li>
        <li><a href="#silorg">wordsEn.txt frum sil.org</a></li>
        <li><a href="#contractions">Wikipedia: List uv Inggliš kunträkšinz</a></li>
        <li><a href="#firstnames">SSÄ: Tap Neimz Ovør dhu Läst 100 Yirz</a>            
        <li><a href="#pos">Part uv Spytš Deitubeis an GitHub</a></li>
        <li><a href="#nltk">NLTK Distins Metriks</a></li>
    </ul>
</section>
<article>
    <h2 id="cmu">Dhu CMU Prunawnsing Dikšinery</h2>
<p>Sors uv pronunsyeišin deitu witš waz substänšuly ryformätid intw u mor rydubul formät, with simbulz for stres änd silubul bawndøryz ripleising dhu sistum uv numbørz.</p>

<p>Most uv dhu funetik tränzlitøreišinz for Funetik Inggliš wør udäptid frum or ät lyst kumperd ugenst dhu CMU Prunawnsing Dikšinery. Ai only ywzd ubawt u thørd uv dher deitu, änd meid sevørul brad tšeindžiz ufekting al or meny uv dhu wørdz tw meik dhem kunsistint with dhu funeticization Ai that kød reprizent u dženørul Umerikin äksent. Dhu tšeindžiz Ai meid wør informd bai mai on intwišinz änd idyulekt, äz wel äz wut Ai lørnd in mai study uv linggwistiks, but nat beist an u lardž sämpling uv spykør deitu.</p> 

<ul>
    <li><a href="http://www.speech.cs.cmu.edu/cgi-bin/cmudict">CMU Prunawnsing Dikšinery (websait)</a></li>
    <li><a href="https://raw.githubusercontent.com/aparrish/rwet-examples/master/pronouncing/cmudict-0.7b">CMU Prunawnsing Dikšinery (deitu)</a></li>
</ul>

<h3>Laisinz</h3>
<pre>CMUdict -- Meidžør Vøržin: 0.07 

Kapyrait (C) 1993-2015 Carnegie Mellon University. Al raits rizørvd. 

Rydistribywšin änd ywz in sors änd bainury formz, with or withawt 
madifikeišin, ar pørmitid pruvaidid dhät dhu faloing kundišinz 
ar met: 

1. Rydistrubywšinz uv sors kod must ritein dhu ubuv kapyrait 
notis, dhis list uv kundišinz änd dhu faloing diskleimør. 
Dhu kantents uv dhis fail ar dymd tw by sors kod. 

2. Rydistrubywšinz in bainury form must ryprudws dhu ubuv kapyrait 
notis, dhis list uv kundišinz änd dhu faloing diskleimør in 
dhu dakyømenteišin änd/or udhør mutiryulz pruvaidid with dhu 
distribywšin. 

Dhis wørk waz suportid in part bai funding frum dhu Defense Advanced
Research Projects Agency, dhu Office of Naval Research änd dhu National
Science Foundation uv dhu Ywnaitid Steits uv Umeriku, änd bai membør 
kumpunyz uv dhu Carnegie Mellon Sphinx Speech Consortium. Wy äknalidž 
dhu kantribywšinz uv meny valuntirz tw dhu ekspänšin änd imprwvmint uv 
dhis dikšinery. 

DHIS SAFTWER IZ PRUVAIDID BAI CARNEGIE MELLON UNIVERSITY ``ÄZ IZ'' ÄND 
ENY IKSPREST OR IMPLAID WORUNTYZ, INKLWDING, BUT NAT LIMITID TW, 
DHU IMPLAID WORUNTYZ UV MØRTŠINTUBILITY ÄND FITNIS FOR U PØRTIKYØLØR 
PØRPIS AR DISKLEIMD. IN NO EVENT ŠÄL CARNEGIE MELLON UNIVERSITY 
NOR ITS EMPLOIYZ BY LAIUBUL FOR ENY DØREKT, INDØREKT, INSIDENTUL, 
SPEŠUL, IGZEMPLØRY, OR KANSUKWENŠUL DÄMUDŽIZ (INKLWDING, BUT NAT 
LIMITID TW, PROKYØRMINT UV SUBSTITWT GUDZ OR SØRVISIZ; LAS UV YWZ, 
DEITU, OR PRAFITS; OR BIZNIS INTØRUPŠIN) HAWEVØR KAZD ÄND AN ENY 
THIRY UV LAIIBILITY, WEDHØR IN KANTRÄKT, STRIKT LAIIBILITY, OR TORT 
(INKLWDING NEGLIDŽINS OR UDHØRWAIZ) ØRAIZING IN ENY WEI AWT UV DHU YWZ 
UV DHIS SAFTWER, YVIN IF ÄDVAIZD UV DHU PASIBILITY UV SUTŠ DÄMIDŽ.</pre>
<nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Tap <i class="arrow up blue"></i></a></nav>
</article>


<article>
    <h2 id="dwyl">english-wørdz frum dwyl an github</a></h2>
    <p>GitHub ywzør dwyl ryformätid u list uv wørdz øridžinuly frum Pradžekt Gutenberg.</p>


    <ul>
        <li><a href="https://github.com/dwyl/english-words" target="_blank">GitHub rypazitory for dwyl/english-wørdz</a></li>
        <li><a href="https://raw.githubusercontent.com/dwyl/english-words/master/words_alpha.txt" target="_blank">english-wørdz (deitu)</a></li>
        <li><a href="https://github.com/dwyl/english-words/blob/master/LICENSE.md" target="_blank">Laisinz for english-wørdz</a></li>
    </ul>

    <h3>Øridžinul Deitu Sorsiz</h3> 
    <pre>
    <a href="http://www.gutenberg.org/etext/3201" target="_blank">http://www.gutenberg.org/etext/3201</a>

Moby Wørd Lists bai Grady Ward 

Help 
Biblyugräfik Rekørd [help] Kryeitør Ward, Grady
Taitul Moby Wørd Lists 
Länggwidž Inggliš 
LoC Kläs PS: Länggwidž änd Litørutšørz: Umerikin litøritšør 
EText-No. 3201 
Rilys Deit 2002-05-01 
Kapyrait Stätis Nat kapyraitid in dhu Ywnaitid Steits. If yw laiv elswer tšek dhu laz uv yør kuntry bifor dawnloding dhis ebook. 

Moby Thisoris List bai Grady Ward 
<a href="http://www.gutenberg.org/etext/3202" target="_blank">http://www.gutenberg.org/etext/3202</a>
Kryeitør Ward, Grady
Taitul Moby Thisoris List 
Länggwidž Inggliš 
LoC Kläs PS: Länggwidž änd Litørutšørz: Umerikin litøritšør 
EText-No. 3202 
Rilys Deit 2002-05-01 
Kapyrait Stätis Nat kapyraitid in dhu Ywnaitid Steits. If yw laiv elswer tšek dhu laz uv yør kuntry bifor dawnloding dhis ebook.</pre>

<nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Tap <i class="arrow up blue"></i></a></nav>
</article>

<article>
    <h2 id="silorg">wordsEn.txt frum sil.org</h2>
    
    <p>U list uv 109582 Inggliš wørdz kumpaild änd kørektid in 1991 frum lists ubteind frum dhu Interociter bulitin bord. Dhu øridžinul read.me fail sed dhät dhu list keim frum Publik Bränd Saftwer.</p>
    <p>Dhis wørd list inklwdz inflektid formz, sutš äz plurul nawnz änd dhu -s, -ed änd -ing formz uv vørbz. Dhus dhu numbør uv leksikul stemz repruzentid in dhu list iz kunsidøribly smalør dhän dhu totul numbør uv wørdz.</p>
    
    <ul>
        <li><a href="http://www-01.sil.org/linguistics/wordlists/english/" target="_blank">Diskripšin uv wordsEn.txt</a></li>
        <li><a href="http://www-01.sil.org/linguistics/wordlists/english/wordlist/wordsEn.txt" target="_blank">wordsEn.txt (deitu)</a></li>
    </ul>

    <nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Tap <i class="arrow up blue"></i></a></nav>
</article>

<article>
    <h2 id="contractions">Wikipedia: List uv Inggliš kunträkšinz</h2>
    <p>Dhu fyw kunträkšinz dhät alredy wør prezint in dhu wørd deitubeis wør agmentid with dhis list uv kunträkšinz.</p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Wikipedia:List_of_English_contractions" target="_blank">List uv Inggliš kunträkšinz</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License" target="_blank">Kryeitiv Kaminz Ätribywšin-ShareAlike 3.0 Unportid Laisinz</a></li>
    </ul>
    <nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Tap <i class="arrow up blue"></i></a></nav>
</article>

<article>
    <h2 id="firstnames">SSÄ: Tap Neimz Ovør dhu Läst 100 Yirz</h2>
    <p>Dhu 100 most papyølør givin neimz for meil änd fymeil beibyz born døring 1917-2016 ukording tw dhu Sošul Sekyørity Ädministreišin.</p>
        <ul>
            <li><a href="https://www.ssa.gov/oact/babynames/decades/century.html" target="_blank">Tap 200 Neimz</a></li>
        </ul>

    <nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Top <i class="arrow up blue"></i></a></nav>
</article>



<article>
    <h2 id="pos">Part uv Spytš Deitubeis an GitHub</h2>
    
        <p>Dhis iz u greit list uv wørdz with simbulz for wut part uv spytš dhei kän by.</p>
        <p>Ai stil nyd tw meik šør dhät wer hamunimz ar nat hamufanik (e.g. dhu vørb änd nawn "rekørd"), dhu part(s)-uv-spytš entry iz split upropryitly.</p>
        <p>Also, nat al wørdz ar kørintly tägd with part(s)-uv-spytš.</p>
        
        <ul>
            <li><a href="https://github.com/en-wl/wordlist/blob/master/pos/README" target="_blank">Rydmy for Parts uv Spytš Deitubeis</a></li>
            <li><a href="https://raw.githubusercontent.com/en-wl/wordlist/master/pos/part-of-speech.txt" target="_blank">Parts uv Spytš Deitubeis</a></li>
        </ul>
            
                <pre>Part Uv Spytš Deitubeis 
Džulai 23, 2000 

Kumpaild bai Kevin Atkinson &lt;kevina@users.sourceforge.net>

Dhu part-uv-speech.txt fail kunteinz iz u kambineišin uv 
"Moby (tm) Part-uv-Spytš II" änd dhu WordNet deitubeis. 

                          KAPYRAIT 

Dhu Moby deitubeis waz iksplisitly plyzd in dhu publik domein: 

    Dhu Moby leksikan pradžekt iz kumplyt änd häz 
    bin pleis intw dhu publik domein. Ywz, sel, 
    rywørk, eksørpt änd ywz in eny wei an eny plätform. 

    Pleising dhis mutiryul an intørnul or publik sørvørz iz 
    also enkøridžd. Dhu kumpailør iz nat uwer uv eny 
    eksport rystrikšinz so fryly distribywt wørld-waid. 

    Yw kän verivai dhu publik domein stätis bai kantäkting 

    Grady Ward
    3449 Martha Ct.
    Arcata, CA  95521-4884

    grady@netcom.com 
    grady@northcoast.com 


Dhu WordNet deitubeis iz undør dhu faloing Kapyrait: 

    Dhis saftwer änd deitubeis iz bying pruvaidid tw yw, dhu LAISINSY, bai 
    Prinstin Ywnivørsity undør dhu faloing laisinz. Bai ubteining, ywzing 
    änd/or kapying dhis saftwer änd deitubeis, yw ugry dhät yw häv 
    red, undørstud, änd wil kumplai with dhyz tørmz änd kundišinz.: 

    Pørmišin tw ywz, kapy, madifai änd distribywt dhis saftwer änd 
    deitubeis änd its dakyømenteišin for eny pørpis änd withawt fy or 
    roiulty iz hirbai gräntid, pruvaidid dhät yw ugry tw kumplai with 
    dhu faloing kapyrait notis änd steitmints, inklwding dhu diskleimør, 
    änd dhät dhu seim upir an AL kapyz uv dhu saftwer, deitubeis änd 
    dakyømenteišin, inklwding madifikeišinz dhät yw meik for intørnul 
    ywz or for distribywšin. 

    WordNet 1.6 Kapyrait 1997 bai Prinstin Ywnivørsity. Al raits rizørvd. 

    DHIS SAFTWER ÄND DEITUBEIS IZ PRUVAIDID "ÄZ IZ" ÄND PRINSTIN 
    YWNIVØRSITY MEIKS NO REPRUZINTEIŠINZ OR WORUNTYZ, EKSPRES OR 
    IMPLAID. BAI WEI UV EGZÄMPUL, BUT NAT LIMITEIŠIN, PRINSTIN 
    YWNIVØRSITY MEIKS NO REPRUZINTEIŠINZ OR WORUNTYZ UV MØRTŠINT- 
    UBILITY OR FITNIS FOR ENY PØRTIKYØLØR PØRPIS OR DHÄT DHU YWZ 
    UV DHU LAISINST SAFTWER, DEITUBEIS OR DAKYØMENTEIŠIN WIL NAT 
    INFRINDŽ ENY THØRD PARTY PÄTINTS, KAPYRAITS, TREIDMARKS OR 
    UDHØR RAITS. 

    Dhu neim uv Prinstin Ywnivørsity or Prinstin mei nat by ywzd in 
    ädvørtaizing or publisity pørteining tw distribywšin uv dhu saftwer 
    änd/or deitubeis. Taitul tw kapyrait in dhis saftwer, deitubeis änd 
    eny usošyeitid dakyømenteišin šäl ät al taimz rimein with 
    Prinstin Ywnivørsity änd LAISINSY ugryz tw prizørv seim. 

Ai usain no udišinul kapyrait tw dhu kumbaind deitubeis änd dhu 
saftwer iz iksplisitly bying plyzd in dhu publik domein. Hawevør, Ai 
wød upryšyeit kredit for mai wørk.</pre>
<nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Tap <i class="arrow up blue"></i></a></nav>

</article>


<article>
<h2 id="nltk">NLTK Distins Metriks</h2>

<p>Ai beist mai implimenteišin for kälkyøleiting Levenshtein distins an dhu Paithan implimenteišin in dhu Nätšørul Länggwidž Twlkit, part uv dhu nltk.metrics.distance madžwl.</p>

<ul>
    <li><a href="http://www.nltk.org/_modules/nltk/metrics/distance.html" target="_blank">NLTK Distins Metriks madžwl</a></li>
</ul>

<pre>Kapyrait (C) 2001-2017 NLTK Pradžekt 
Athør: Edward Loper &lt;edloper@gmail.com> 
       Steven Bird &lt;stevenbird1@gmail.com>
       Tom Lippincott &lt;tom@cs.columbia.edu>
URL:  &lt;<a href="http://nltk.org/" target="_blank">http://nltk.org/</a>>
For laisinz inførmeišin, sy LICENSE.TXT 

LICENSE.TXT 

Kapyrait (C) 2001-2014 NLTK Pradžekt 

Laisinst undør dhu Upätšy Laisinz, Vøržin 2.0 (dhu 'Laisinz');
yw mei nat ywz dhis fail eksept in kumplaiins with dhu Laisinz. 
Yw mei ubtein u kapy uv dhu Laisinz ät 

   <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/laisinsiz/LAISINZ-2.0</a>

Unles rikwaiørd bai äplikubul la or ugryd tw in raiting, saftwer 
distribyutid undør dhu Laisinz iz distribyutid an en 'ÄZ IZ' BEISIS, 
WITHAWT WORUNTYZ OR KUNDIŠINZ UV ENY KAIND, aidhør ekspres or implaid. 
Sy dhu Laisinz for dhu spusifik länggwidž guvørning pørmišinz änd 
limiteišinz undør dhu Laisinz.</pre>
<nav class="toTop"><a href="#top"><i class="arrow up blue"></i> Tap <i class="arrow up blue"></i></a></nav>
</article>

{{end}}

</main>
{{template "_footer.html" .}}
{{end}}