<html>

<head>
    <title>customsort results</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>

<body>
    <table>
        <tr>
            <th>Funetik</th>
            <th>Trudišinul</th>
            <th>Distins</th>
            <th>Part uv Spytš</th>
        </tr>
        {{ range SortWords }}
        <tr>
            <td>{{index . 0}}</td>
            <td>{{index . 1}}</td>
            <td>{{index . 2}}</td>
            <td>{{index . 3}}</td>
        </tr>
        {{end}}
    </table>
</body>

</html>