{{define "home.html"}} {{template "_header.html"}}
<article>
    <h1>
        Funetik Inggliš <em>(Phonetic English)</em>
    </h1>

    <p><a href="https://docs.google.com/spreadsheets/d/1DC8Bau9AnGinHlOgKrrFx7jOX2EnOsVh6xWJa-E_2JA/edit#gid=1251527383" target="_blank">Funetik Inggliš Wørd List änd Stäts</a>        on Google Sheets<br>
        <a href="https://docs.google.com/document/d/1M5mRpCn1Qg0vGJbViTQkRUgCQC8SZaXUi_SXyodNPx8/edit" target="_blank">Funetik Inggliš Älfubit</a>        on Google Docs</p>

    <h2>
        Intrudukšin <em>(Introduction)</em>
    </h2>

    <p>Äftør studying Linggwistiks, Späniš, Rušin, änd Finiš, I keim tw ryilaiz džust häw kamplikeitid änd käwntørintwitiv äwr
        älfubit änd speling sistim for Umerikin Inggliš iz. Tšildrin änd forin spykørz häv trubul disaiføring dhu labirinthyin
        änd arbitrery sistim uv "rwlz" (witš arn't rily rwlz) änd unnormulaizd forin spelingz. Ai disaidid tw rywørk Umerikin
        Inggliš in u wei dhät iz kunsistint änd intwitiv.</p>

    <blockquote>
        <p>*After studying Linguistics, Spanish, Russian, and Finnish, I came to realize just how complicated and counterintuitive
            our alphabet and spelling system for American English is. Children and foreign speakers have trouble decyphering
            the labyrinthian and arbitrary system of "rules" (which aren't really rules) and unnormalized foreign spellings.
            I decided to rework American English in a way that is consistent and intuitive. *</p>
    </blockquote>

    <p>Nätšørul lengwidžiz ar al spokin or saind, weräz ritin "lenggwidž" iz džust <a href="https://en.wikipedia.org/wiki/Orthography"
            target="_blank">orthagrify</a>. Bai kryeiting u nw orthagrify, Ai'm nat äkšwuly tšendžing Inggliž itself ät al. </p>

    <blockquote>
        <p>*Natural languages are all spoken or signed, whereas written "language" is just <a href="https://en.wikipedia.org/wiki/Orthography"
                target="_blank">orthography</a>. By creating a new orthography, I'm not actually changing English itself at all.</p>
    </blockquote>

    <p>With dhis orthagrify, ekstru nalidž wødn't by rikwaird tw pik up u bøk änd ryd evry wørd kurektly.</p>

    <blockquote>
        <p><em>With this orthography, extra knowledge wouldn't be required to pick up a book and read every word correctly.</em></p>
    </blockquote>

    <p>Dhis raiting sistim wød prabibly kryeit sum kunfywžin for nan-Umerikin Inggliš spykørz, so dhe ständørd orthagrify kød
        kuntinyw tw by ywzd in u similør wei äz Lätin (äz u saiintifik ständørd) or Tšainyz keriktørz (äz simbulz tw džoin
        mywtšøwuly unintelidžibul lenggwidžiz).</p>

    <blockquote>
        <p><em>This writing system would probably create some confusion for non-American English speakers, so the standard orthagraphy could continue to be used in a similar way as Latin (as a scientific standard) or Chinese characters (as symbols to join mutually unintelligible languages).</em></p>
    </blockquote>

    <h2>
        <a href="https://docs.google.com/document/d/1M5mRpCn1Qg0vGJbViTQkRUgCQC8SZaXUi_SXyodNPx8/edit" target="_blank">Dhu Älfubit <em>(The Alphabet)</em></a>
    </h2>

    <h3>
        Funetik Ordør <em>(Phonetic Order)</em>
    </h3>

    <p>Dhu älfubit for Funetik Inggliš iz ureindžd with väwlz først, dhen <a href="https://en.wikipedia.org/wiki/Sonorant" target="_blank">sonørint</a>        kansunintz, änd dhen <a href="https://en.wikipedia.org/wiki/Obstruent" target="_blank">abstrwint</a> kansunintz.
        Abstrwint kansunintz ar ureindžd in perz with dhu <a href="https://en.wikipedia.org/wiki/Voice_%28phonetics%29" target="_blank">voist</a>        wun først.</p>

    <blockquote>
        <p><em>The alphabet for Phonetic English is arranged with vowels first, then <a href="https://en.wikipedia.org/wiki/Sonorant" target="_blank">sonorant</a> consonants, and then <a href="https://en.wikipedia.org/wiki/Obstruent" target="_blank">obstruent</a> consonants. Obstruent consonants are arranged in pairs with the <a href="https://en.wikipedia.org/wiki/Voice_%28phonetics%29" target="_blank">voiced</a> one first.</em></p>
    </blockquote>

    <p><strong>a</strong> as in <strong>a</strong>t <em>(<strong>o</strong>ught)</em><br>
        <strong>ä</strong> as in <strong>ä</strong>t <em>(<strong>a</strong>t)</em><br>
        <strong>e</strong> as in <strong>e</strong>vry <em>(<strong>e</strong>very)</em><br>
        <strong>i</strong> as in f<strong>i</strong>n <em>(f<strong>i</strong>n)</em><br>
        <strong>y</strong> as in f<strong>y</strong>d <em>(f<strong>ee</strong>d)</em><br>
        <strong>w</strong> as in f<strong>w</strong>d <em>(f<strong>oo</strong>d)</em><br>
        <strong>u</strong> as in f<strong>u</strong>n <em>(f<strong>u</strong>n)</em><br>
        <strong>ø</strong> as in w<strong>ø</strong>d <em>(w<strong>oul</strong>d, w<strong>oo</strong>d)</em><br>
        <strong>o</strong> as in <strong>o</strong>nly <em>(<strong>o</strong>nly)</em><br>
        <strong>r</strong> as in <strong>r</strong>o <em>(<strong>r</strong>ow)</em><br>
        <strong>l</strong> as in <strong>l</strong>o <em>(<strong>l</strong>ow)</em><br>
        <strong>n</strong> as in <strong>n</strong>äp <em>(<strong>n</strong>ap)</em><br>
        <strong>m</strong> as in <strong>m</strong>äp <em>(<strong>m</strong>ap)</em><br>
        <strong>b</strong> as in <strong>b</strong>ät <em>(<strong>b</strong>at)</em><br>
        <strong>p</strong> as in <strong>p</strong>ät <em>(<strong>p</strong>at)</em><br>
        <strong>v</strong> as in ly<strong>v</strong> <em>(lea<strong>v</strong>e)</em><br>
        <strong>f</strong> as in ly<strong>f</strong> <em>(lea<strong>f</strong>)</em><br>
        <strong>g</strong> as in <strong>g</strong>ørl <em>(<strong>g</strong>irl)</em><br>
        <strong>k</strong> as in <strong>k</strong>ørl <em>(<strong>c</strong>url)</em><br>
        <strong>d</strong> as in <strong>d</strong>un <em>(<strong>d</strong>one)</em><br>
        <strong>t</strong> as in <strong>t</strong>un <em>(<strong>t</strong>on)</em><br>
        <strong>z</strong> as in <strong>z</strong>w <em>(<strong>z</strong>oo)</em><br>
        <strong>s</strong> as in <strong>s</strong>w <em>(<strong>s</strong>ue)</em><br>
        <strong>ž</strong> as in me<strong>ž</strong>ør <em>(mea<strong>s</strong>ure)</em><br>
        <strong>š</strong> as in pre<strong>š</strong>ør <em>(pre<strong>ss</strong>ure)</em><br>
        <strong>h</strong> as in <strong>h</strong>äpy <em>(<strong>h</strong>appy)</em> </p>

    <h3>
        <a href="https://en.wikipedia.org/wiki/Diphthong" target="_blank">Difthangs</a>
    </h3>

    <p><strong>ai</strong> as in <strong>ai</strong>l <em>(<strong>ai</strong>sle, <strong>i</strong>sle)</em><br>
        <strong>äw</strong> as in <strong>äw</strong>l <em>(<strong>ow</strong>l)</em><br>
        <strong>ei</strong> as in <strong>ei</strong>l <em>(<strong>a</strong>le, <strong>ai</strong>l)</em><br>
        <strong>oi</strong> as in <strong>oi</strong>l <em>(<strong>oi</strong>l)</em></p>

    <h3>
        <a href="https://en.wikipedia.org/wiki/Digraph_%28orthography%29" target="_blank">Daigräfs</a>
    </h3>

    <p><strong>ng</strong> as in stra<strong>ng</strong> <em>(stro<strong>ng</strong>)</em><br>
        <strong>dh</strong> as in <strong>dh</strong>en <em>(<strong>th</strong>en)</em><br>
        <strong>th</strong> as in <strong>th</strong>in <em>(<strong>th</strong>in)</em><br>
        <strong>dž</strong> as in <strong>dž</strong>ir <em>(<strong>j</strong>eer)</em><br>
        <strong>tš</strong> as in <strong>tš</strong>ir <em>(<strong>ch</strong>eer)</em></p>

    <!-- <h3>
        Älfubit Sang <em>(Alphabet Song)</em>
    </h3>

    <p><a class="no-attachment-icon" href="/static/images/%C3%A4lfubit-sang.png" target="_blank" rel="noopener noreferrer"><img alt="Älfubit Sang" class="lazy" src="/static/images/%C3%A4lfubit-sang.png"></a></p> -->

    <h2>
        <a href="https://docs.google.com/spreadsheets/d/1DC8Bau9AnGinHlOgKrrFx7jOX2EnOsVh6xWJa-E_2JA/edit#gid=1251527383" target="_blank">Speling änd Stäts <em>(Spelling and Stats)</em></a>
    </h2>

    <p>Only 4 letørz häv tšeindžd (Q→Ä, J→Ø, X→Ž, C→Š), änd meny wørdz' spelingz ar very similør. Uv u list uv 4353 kamin wørdz,
        <a href="https://docs.google.com/spreadsheets/d/1DC8Bau9AnGinHlOgKrrFx7jOX2EnOsVh6xWJa-E_2JA/edit#gid=917066122"
            target="_blank">3065 funetik spelingz (70%) ar 3 or fywør tšeindžiz uwei frum dhu trudišinul speling.</a></p>

    <blockquote>
        <p><em>Only 4 letters have changed, and many words' spellings are very similar. Of a list of 4353 common words, <a href="https://docs.google.com/spreadsheets/d/1DC8Bau9AnGinHlOgKrrFx7jOX2EnOsVh6xWJa-E_2JA/edit#gid=917066122" target="_blank">3065 funetik spellings (70%) are 3 or fewer changes away from the traditional spelling.</a></em></p>
    </blockquote>

    <p>Funetik Inggliš also meiks wørdz slaitly šortør an ävridž. In dhu 4353-wørd sämpul Ai ywzd, dhu ävridž wørd length (inklwding
        punkšøweišin) in Funetik Inggliš iz 6.24 keriktørz pør wørd, weräz in trudišinul Inggliš it's 6.65 keriktørz pør
        wørd.</p>

    <blockquote>
        <p><em>Phonetic English also makes words slightly shorter on average. In the 4353-word sample I used, the average word length (including punctuation) in Phonetic English is 6.24 characters per word, whereas in traditional English it's 6.65 characters per word.</em></p>
    </blockquote>

    <h2>
        Wer ar C, J, Q, and X? <em>(Where are C, J, Q and X?)</em>
    </h2>

    <p>C, Q änd X ar ridundint letørz: </p>

    <ul>
        <li>C iz aidhør K or S. 'Ch' iz u kambineišin uv T änd Š, so it's ritin äz 'tš'.</li>
        <li>Q prity mutš only upyrz with U, änd säwndz laik 'kw', so 'kw' iz häw tw rait dhis in Funetik Inggliš. </li>
        <li>X iz 'ks', 'gz', or džust 'z'</li>
    </ul>

    <blockquote>
        <p><em>C, Q and X are redundant letters:</em></p>

        <ul>
            <li>
                <em>C is either K or S. 'Ch' is a combination of T and Š, so it's written as 'tš'</em>.</li>
            <li><em>Q pretty much only appears with U, and sounds like 'kw', so 'kw' is how to write this in Phonetic English</em></li>
            <li><em>X iz 'ks', 'gz', or just 'z'</em></li>
        </ul>
    </blockquote>

    <p>J, dhu voist käwntørpart uv 'ch', iz ywzd ubäwt äz infrykwintly. It's ritin äz 'dž'.</p>

    <blockquote>
        <p><em>J, the voiced counterpart of 'ch', is used about as infrequently. It's written as 'dž'.</em></p>
    </blockquote>

    <h2>
        Altørnit Spelingz <em>(Alternate Spellings)</em>
    </h2>

    <p>Dhu 4 nw letoorz kaan also by ritin with daigraafs if yw kaan't taip dhu nw keriktoorz. Ai inishuly tshoz tw ywz digraafs
        laik dhyz, but in mai dzhudzhmint dhei meik dhu woordz dhzust u litul bit tw hard tw ryd.</p>

    <blockquote>
        <p><em>The 4 new letters can also be written with digraphs if you can't type the new characters. I initially chose to use digrafs like these, but in my judgment they make the words just a little bit too hard to read.</em></p>
    </blockquote>

    <ul>
        <li>ä→aa</li>
        <li>ø→oo</li>
        <li>ž→zh</li>
        <li>š→sh</li>
    </ul>


    <h2>
        Kybord Leiäwt</h2>

    <p><a class="no-attachment-icon" href="/static/images/keyboard.png" target="_blank" rel="noopener noreferrer"><img alt="Kybord" class="lazy" src="/static/images/keyboard.png"></a></p>

    <p><a class="no-attachment-icon" href="/static/images/keyboard_shift.png" target="_blank" rel="noopener noreferrer"><img alt="Kybord with Shift prest" class="lazy" src="/static/images/keyboard_shift.png"></a></p>

    <p><a class="no-attachment-icon" href="/static/images/keyboard_caps.png" target="_blank" rel="noopener noreferrer"><img alt="Kybord with Caps Lock prest" class="lazy" src="/static/images/keyboard_caps.png"></a></p>

    <h2>
        Kredits <em>(Credits)</em>
    </h2>

    </div>

    </div>
    </div>
</article>
{{template "_footer.html"}}
{{end}}