{{define "kbd.html"}}
{{template "_header.html" .}}
<main>
{{if .DisplayTrud}}
    <h1>Keyboard Layout</h1>
    <p>I created a Windows keyboard layout if you want to try typing in Funetik Inggliš.</p>
    <p>The download contains setup.exe, which installs the "Inggliš (Funetik)" keyboard layout in Windows. Once installed, press
        Ctrl+Shift to switch between layouts.</p>
    <p>It also contains ingfun.klc, the keyboard layout file for <a href="https://www.microsoft.com/en-us/download/details.aspx?id=22339"
        target="_blank">Microsoft Keyboard Layout Creator</a>.</p>
    <p><strong>Download link:</strong> <a href="{{.Root}}/static/downloads/funetik-inggliš-windows-keyboard-layout.zip">funetik-inggliš-windows-keyboard-layout.zip</a></p>
    <h2>Demo Keyboard</h2>
    <p>You can get an idea of what the keyboard layout looks like below. Click the Shift key on the keyboard below or hold down
        on your keyboard's actual shift key to see the alternate letters.</p>
    <p>You can also see the history of the phonetic keyboard by clicking on the version links below it.</p>
    <p>The dark gray keys are the ones that made it to the final version, while the lighter gray keys are ones that were just
        used in an earlier version.
    </p>
    <p>Beneath the keyboard is a sentence I wrote that uses each simplified phoneme of American English, to demonstrate what each orthography
        looks like.
    </p>
{{else}}
    <h1>Kybord Leiäwt</h1>
    <p>Ai kryeitid u Windows kybord leiäwt if yw want tw try taiping in Funetik Inggliš.</p>
    <p>Dhu däwnlod kunteinz setup.exe, witš instalz dhu "Inggliš (Funetik)" kybord leiäwt in Windows. Wuns instald, pres Ctrl+Shift
        tw switš bitwyn leiäwts.</p>
    <p>It also kunteinz ingfun.klc, dhu kybord leiäwt fail for <a href="https://www.microsoft.com/en-us/download/details.aspx?id=22339"
        target="_blank">Microsoft Keyboard Layout Creator</a>.</p>
    <p><strong>Däwnlod link:</strong> <a href="{{.Root}}/static/downloads/funetik-inggliš-windows-keyboard-layout.zip">funetik-inggliš-windows-keyboard-layout.zip</a></p>
    <h2>Demo Kybord</h2>
    <p>Yw kän get en aidyu uv wut dhu kybord leiäwt løks laik bilo. Klik dhu Šift ky an dhu kybord bilo or hold däwn
        an yor kybord'z äkšøwul šift ky tw sy dhu altørnit letørz.</p>
    <p>Yw kän also sy dhu histøry uv dhu funetik kybord bai kliking an dhu vøržin links bilo it.</p>
    <p>Dhu dark grei kyz ar dhu wunz dhät maid it tw dhu fainul vøržin, wail dhu laitør grei kyz ar wunz dhät wør džust
        ywzd in en ørlyør vøržin.</p>
        <p>Binyth dhu kybord iz u sentins I rot dhät ywzis ytš simplifaid fonym uv Umerikin Inggliš, tw deminstreit wut ytš orthagrify
            løks laik.
        </p>
{{end}}

<div id="kbd">
    <div class="row">
        {{range (index .Kbd 0)}}
        <div class="{{if (index . 2)}}{{index . 2}} {{end}}{{if (index . 3)}}info above nolink{{end}}"{{if (index . 3)}} data-title="{{index . 3}}"{{end}}><span class="normal">{{index . 0}}</span><span class="shifted hidden">{{index . 1}}</span></div>
        {{end}}
        <div class="varsize hideoverflow">Backspace</div>
    </div>
    <div class="row">
        <div class="varsize">Tab</div>
        {{range (index .Kbd 1)}}
        <div class="{{if (index . 2)}}{{index . 2}} {{end}}{{if (index . 3)}}info above nolink{{end}}"{{if (index . 3)}} data-title="{{index . 3}}"{{end}}><span class="normal">{{index . 0}}</span><span class="shifted hidden">{{index . 1}}</span></div>
        {{end}}
        </div>

    <div class="row">
        <div class="varsize hideoverflow">Caps Lock</div>
        {{range (index .Kbd 2)}}
        <div class="{{if (index . 2)}}{{index . 2}} {{end}}{{if (index . 3)}}info above nolink{{end}}"{{if (index . 3)}} data-title="{{index . 3}}"{{end}}><span class="normal">{{index . 0}}</span><span class="shifted hidden">{{index . 1}}</span></div>
        {{end}}
        <div class="varsize">Enter</div>        
    </div>

    <div class="row">
        <div class="varsize shift info above" data-title="Click or press" onpointerdown="javascript:pressShift()">Shift</div>
        {{range (index .Kbd 3)}}
        <div class="{{if (index . 2)}}{{index . 2}} {{end}}{{if (index . 3)}}info above nolink{{end}}"{{if (index . 3)}} data-title="{{index . 3}}"{{end}}><span class="normal">{{index . 0}}</span><span class="shifted hidden">{{index . 1}}</span></div>
        {{end}}
        <div class="varsize shift info above" data-title="Click or press" onpointerdown="javascript:pressShift()">Shift</div>
    </div>
    <div class="row bottom">
        <div class="varsize">Ctrl</div>
        <div class="vargin"></div>
        <div class="varsize">Alt</div>
        <div class="vargin"></div>        
        <div class="space">Space</div>
        <div class="vargin"></div>        
        <div class="varsize">Alt</div>
        <div class="vargin"></div>        
        <div class="varsize">Ctrl</div>
    </div>
</div>

{{if .DisplayTrud}}
<p class="versions">
<span>Keyboard Version: </span>
<a href="?v=1&orth=trud#kbd" class="{{if eq .KbdVer "1"}}active{{end}}">1</a>
<a href="?v=2&orth=trud#kbd" class="{{if eq .KbdVer "2"}}active{{end}}">2</a>
<a href="?v=3&orth=trud#kbd" class="{{if eq .KbdVer "3"}}active{{end}}">3</a>
<a href="?v=4&orth=trud#kbd" class="{{if eq .KbdVer "4"}}active{{end}}">4</a>
<a href="?v=5&orth=trud#kbd" class="{{if eq .KbdVer "5"}}active{{end}}">5</a>
<a href="?v=6&orth=trud#kbd" class="{{if eq .KbdVer "6"}}active{{end}}">6</a>
<a href="?v=7&orth=trud#kbd" class="{{if eq .KbdVer "7"}}active{{end}}">7</a>
<a href="?v=8&orth=trud#kbd" class="{{if eq .KbdVer "8"}}active{{end}}">8</a>
<a href="?v=9&orth=trud#kbd" class="large{{if eq .KbdVer "9"}} active{{end}}">Final</a>
</p>

{{else}}
<p class="versions">
<span>Kybord Vøržin: </span>
<a href="?v=1&orth=fun#kbd" class="{{if eq .KbdVer "1"}}active{{end}}">1</a>
<a href="?v=2&orth=fun#kbd" class="{{if eq .KbdVer "2"}}active{{end}}">2</a>
<a href="?v=3&orth=fun#kbd" class="{{if eq .KbdVer "3"}}active{{end}}">3</a>
<a href="?v=4&orth=fun#kbd" class="{{if eq .KbdVer "4"}}active{{end}}">4</a>
<a href="?v=5&orth=fun#kbd" class="{{if eq .KbdVer "5"}}active{{end}}">5</a>
<a href="?v=6&orth=fun#kbd" class="{{if eq .KbdVer "6"}}active{{end}}">6</a>
<a href="?v=7&orth=fun#kbd" class="{{if eq .KbdVer "7"}}active{{end}}">7</a>
<a href="?v=8&orth=fun#kbd" class="{{if eq .KbdVer "8"}}active{{end}}">8</a>
<a href="?v=9&orth=fun#kbd" class="large{{if eq .KbdVer "9"}} active{{end}}">Fainul</a>
{{end}}

<aside id="kbddemo">
    <dl>
        {{if eq .KbdVer "1"}}
        <dt>Funetik (Vrʒin 1)</dt>
        <dd>Witʃ kïnd uv soduz ʃood yuu by geting frum dhät pлeis with Dʒoi, Ʒan, änd Hauwrd?</dd>        

        {{else if eq .KbdVer "2"}}
        <dt>Funetik (Vrʒin 2)</dt>
        <dd>Witʃ kīnd uv soduz ʃood yū bē geting frum dhæt pλās with Dʒoi, Ʒan, ænd Hæūwrd?</dd>

        {{else if eq .KbdVer "3"}}
        <dt>Funetik (Vrʒin 3)</dt>
        <dd>Wiч kīnd uv soduz ʃood yū bē geting frum ðæt pлās wiθ Joi, Ʒan, ænd Hæūwrd?</dd>        
        
        {{else if eq .KbdVer "4"}}
        <dt>Funetik (Vrzhin 4)</dt>
        <dd>Wĭc kind uv soduz shoud yoo bee getĭng frum dhät plais wĭth Joi, Zhan, änd Hauwrd?</dd>

        {{else if eq .KbdVer "5"}}
        <dt>Funetik (Vʊrzhin 5)</dt>
        <dd>Ūitsh kīnd uv soduz shʊd ēū bē geting frum dhæt pлās ūith Dzhoi, Zhan, ænd Hæūʊrd?</dd>                

        {{else if eq .KbdVer "6"}}
        <dt>Funetik (Vørzhin 6)</dt>
        <dd>Ūitsh kīnd uv sōduz shød ēū bē geting frum dhat pлās ūith Dzhōi, Zhon, and Haūørd?</dd>

        {{else if eq .KbdVer "7"}}
        <dt>Funetik (Vøržin 7)</dt>
        <dd>Úic kínd uv sóduz šød éú bé geting frum dhat plás úith Jói, Žon, and Haúørd?</dd>

        {{else if eq .KbdVer "8"}}
        <dt>Funetik (Vørzhin 7)</dt>        
        <dd>Úitsh kínd uv sóduz shød éú bé geting frum dhat plás úith Dzhói, Zhon, and Haúørd?</dd>

        {{else}}
        <dt>Funetik (Fainul Vørzin)</dt>
        <dd>Witš kaind uv soduz šød yw by geting frum dhät pleis with Džoi, Žan, änd Häwørd?</dd>

        {{end}}
        <dt>Traditional Spelling</dt>
        <dd>Which kind of sodas should you be getting from that place with Joy, Jean, and Howard?</dd>

        <dt>International Phonetic Alphabet</dt>
        <dd>wɪt͡ʃ kaɪnd ʌv soʊdʌz ʃʊd ju bi ɡɛtɪŋ fɹ̠ʌm ðæt pleɪs wɪθ d͡ʒɔɪ, ʒɑ̃, ænd haʊwɹ̠d?</dd>
    </dl>
</aside>


</main>
<script>
    let shiftState
    var normalKeys
    var shiftedKeys
    var shiftKeys
    window.addEventListener("load", function () {
        normalKeys = document.getElementsByClassName("normal")
        shiftedKeys = document.getElementsByClassName("shifted")
        shiftKeys = document.getElementsByClassName("shift")
    })

    function shiftDown(){
        for (i = 0; i < normalKeys.length; i++) {
            normalKeys[i].className += " hidden";
        }
        for (i = 0; i < shiftedKeys.length; i++) {
            shiftedKeys[i].className = "shifted";
        }
        for (i = 0; i < shiftKeys.length; i++) {
            shiftKeys[i].className = "varsize shift down info above";
        }
    }
    function shiftUp(){
        for (i = 0; i < normalKeys.length; i++) {
            shiftedKeys[i].className += " hidden";
        }
        for (i = 0; i < shiftedKeys.length; i++) {
            normalKeys[i].className = "normal";
        }
        for (i = 0; i < shiftKeys.length; i++) {
            shiftKeys[i].className = "varsize shift info above";
        }
    }
    function pressShift() {
        if (!shiftState) {
            shiftDown()
            shiftState = true
        } else {
            shiftUp()
            shiftState = false
        }
    }
    document.addEventListener("keydown", function (evt) {
        evt = evt || window.event
        if (evt.keyCode == 16) {
            shiftDown()
            shiftState = true            
        }
    });
    document.addEventListener("keyup", function (evt) {
        evt = evt || window.event
        if (evt.keyCode == 16) {
            shiftUp()
            shiftState = false            
        }
    });
</script>
{{template "_footer.html" .}}
{{end}}