{{define "kbd.html"}}
{{template "_header.html" .}}
<main>
{{if .DisplayTrud}}
    <h1>Keyboard Layout</h1>
    <p>I created a Windows keyboard layout if you want to try typing in Funetik Inggliš.</p>
    <p>The download contains setup.exe, which installs the "Inggliš (Funetik) keyboard layout in Windows. Once installed, press
        Ctrl+Shift to switch between layouts.</p>
    <p>It also contains ingfun.klc, the keyboard layout file for <a href="https://www.microsoft.com/en-us/download/details.aspx?id=22339"
        target="_blank">Microsoft Keyboard Layout Creator</a>.</p>
    <p><strong>Download link:</strong> <a href="/static/downloads/funetik-inggliš-windows-keyboard-layout.zip">funetik-inggliš-windows-keyboard-layout.zip</a></p>
    <h2>Demo Keyboard</h2>
    <p>You can get an idea of what the keyboard layout looks like below. Click the shift key on the keyboard below or hold down
        on your keyboard's actual shift key to see the alternate letters.</p>
    <p>The gray keys have a story behind them. They were changed in some version of this keyboard as it was being developed. You
        can hover over these keys to read about the version history.
    </p>
    <p>The dark gray keys are the only ones that are different from 
        the standard English layout in the final version.</p>
{{else}}
    <h1>Kybord Leiäwt</h1>
    <p>Ai kryeitid u Windows kybord leiäwt if yw want tw try taiping in Funetik Inggliš.</p>
    <p>Dhu däwnlod kunteinz setup.exe, witš instalz dhu "Inggliš (Funetik) kybord leiäwt in Windows. Wuns instald, pres Ctrl+Shift
        tw switš bitwyn leiäwts.</p>
    <p>It also kunteinz ingfun.klc, dhu kybord leiäwt fail for <a href="https://www.microsoft.com/en-us/download/details.aspx?id=22339"
        target="_blank">Microsoft Keyboard Layout Creator</a>.</p>
    <p><strong>Däwnlod link:</strong> <a href="/static/downloads/funetik-inggliš-windows-keyboard-layout.zip">funetik-inggliš-windows-keyboard-layout.zip</a></p>
    <h2>Demo Kybord</h2>
    <p>Yw kän get en aidyu uv wut dhu kybord leiäwt løks laik bilo. Klik dhu šift ky an dhu kybord bilo or hold däwn
        an yor kybord'z äkšøwul šift ky tw sy dhu altørnit letørz.</p>
    <p>Dhu grei kyz häv u story bihaind dhem. Dhei wør tšeindžd in sum vøržin uv dhis kybord äz it wuz bying divelupt. Yw
        kän huvør ovør dhyz kyz tw ryd ubäwt dhu vøržin histøry.
    </p>
    <p>Dhu dark grei kyz ar dhu only wunz dhät ar difrint frum
        dhu ständørd Inggliš leiäwt in dhu fainul vøržin.</p>
{{end}}

<div class="kbd">
    <div class="row">
        {{range (index .Kbd 0)}}
        <div{{if (index . 2)}} class="{{index . 2}}"{{end}}><span class="normal">{{index . 0}}</span><span class="shifted hidden">{{index . 1}}</span></div>
        {{end}}
        <div class="varsize">Backspace</div>
    </div>

    <div class="row">
            <div class="varsize">Tab</div>
            {{range (index .Kbd 1)}}
            <div{{if (index . 2)}} class="{{index . 2}}"{{end}}><span class="normal">{{index . 0}}</span><span class="shifted hidden">{{index . 1}}</span></div>
            {{end}}
            </div>
    
        <div class="row">
            <div class="varsize">Caps Lock</div>
            {{range (index .Kbd 2)}}
            <div{{if (index . 2)}} class="{{index . 2}}"{{end}}><span class="normal">{{index . 0}}</span><span class="shifted hidden">{{index . 1}}</span></div>
            {{end}}
            <div class="varsize">Enter</div>        
        </div>
    
        <div class="row">
            <div class="varsize shift" onpointerdown="javascript:pressShift()">Shift</div>
            {{range (index .Kbd 3)}}
            <div{{if (index . 2)}} class="{{index . 2}}"{{end}}><span class="normal">{{index . 0}}</span><span class="shifted hidden">{{index . 1}}</span></div>
            {{end}}
                <div class="varsize shift" onpointerdown="javascript:pressShift()">Shift</div>
        </div>
        <div class="row">
            <div class="varsize">Ctrl</div>
            <div class="varsize">Alt</div>
            <div class="space">Space</div>
            <div class="varsize">Alt</div>
            <div class="varsize">Ctrl</div>
        </div>
</div>

{{if .DisplayTrud}}
<p class="versions">
<span>Keyboard Version: </span>
<a href="?v=1&orth=trud">1</a>
<a href="?v=2&orth=trud">2</a>
<a href="?v=3&orth=trud">3</a>
<a href="?v=4&orth=trud">4</a>
<a href="?v=5&orth=trud">5</a>
<a href="?v=6&orth=trud">6</a>
<a href="?v=7&orth=trud">7</a>
<a href="?v=8&orth=trud">8</a>
<a href="?v=9&orth=trud">9</a>
<a href="?v=10&orth=trud">10</a>
<a href="?v=11&orth=trud">11</a>
<a href="?v=12&orth=trud" class="large"><span>Final</span></a>
</p>

{{else}}
<p class="versions">
<span>Kybord Vøržin: </span>
<a href="?v=1&orth=fun">1</a>
<a href="?v=2&orth=fun">2</a>
<a href="?v=3&orth=fun">3</a>
<a href="?v=4&orth=fun">4</a>
<a href="?v=5&orth=fun">5</a>
<a href="?v=6&orth=fun">6</a>
<a href="?v=7&orth=fun">7</a>
<a href="?v=8&orth=fun">8</a>
<a href="?v=9&orth=fun">9</a>
<a href="?v=10&orth=fun">10</a>
<a href="?v=11&orth=fun">11</a>
<a href="?v=12&orth=fun" class="large"><span>Fainul</span></a>
{{end}}

<aside>
{{if .DisplayTrud}}
    {{if eq .KbdVer "1"}}
        test
    {{else if eq .KbdVer "2"}}

    {{else if eq .KbdVer "3"}}

    {{else if eq .KbdVer "4"}}

    {{else if eq .KbdVer "5"}}

    {{else if eq .KbdVer "6"}}

    {{else if eq .KbdVer "7"}}

    {{else if eq .KbdVer "8"}}

    {{else if eq .KbdVer "9"}}

    {{else if eq .KbdVer "10"}}

    {{else if eq .KbdVer "11"}}

    {{else}}

    {{end}}
{{else}}
    {{if eq .KbdVer "1"}}

    {{else if eq .KbdVer "2"}}

    {{else if eq .KbdVer "3"}}

    {{else if eq .KbdVer "4"}}

    {{else if eq .KbdVer "5"}}

    {{else if eq .KbdVer "6"}}

    {{else if eq .KbdVer "7"}}

    {{else if eq .KbdVer "8"}}

    {{else if eq .KbdVer "9"}}

    {{else if eq .KbdVer "10"}}

    {{else if eq .KbdVer "11"}}

    {{else}}

    {{end}}
{{end}}
</aside>


</main>
<script>
    let shiftState = false
    var normalKeys
    var shiftedKeys
    var shiftKeys
    window.addEventListener("load", function () {
        normalKeys = document.getElementsByClassName("normal")
        shiftedKeys = document.getElementsByClassName("shifted")
        shiftKeys = document.getElementsByClassName("shift")
    })

    function shiftDown(){
        for (i = 0; i < normalKeys.length; i++) {
            normalKeys[i].className += " hidden";
        }
        for (i = 0; i < shiftedKeys.length; i++) {
            shiftedKeys[i].className = "shifted";
        }
        for (i = 0; i < shiftKeys.length; i++) {
            shiftKeys[i].className = "varsize shift down";
        }
    }
    function shiftUp(){
        for (i = 0; i < normalKeys.length; i++) {
            shiftedKeys[i].className += " hidden";
        }
        for (i = 0; i < shiftedKeys.length; i++) {
            normalKeys[i].className = "normal";
        }
        for (i = 0; i < shiftKeys.length; i++) {
            shiftKeys[i].className = "varsize shift";
        }
    }
    function pressShift() {
        if (!shiftState) {
            shiftDown()
            shiftState = true
        } else {
            shiftUp()
            shiftState = false
        }
    }
    document.addEventListener("keydown", function (evt) {
        evt = evt || window.event
        if (evt.keyCode == 16) {
            shiftDown()
        }
    });
    document.addEventListener("keyup", function (evt) {
        evt = evt || window.event
        if (evt.keyCode == 16) {
            shiftUp()
        }
    });
</script>
{{template "_footer.html"}}
{{end}}