{{define "stats.html"}}
{{template "_header.html" .}}
<main>
        
     {{if .DisplayTrud}}
    <h1>Stats</h1>
    <p>This page provides information about the letters and phonemes in the {{.RowCountF}} words in this database.
        The first table shows statistics about letters, the second about phonemes. Both tables list the
        total number of occurrences in this database (frequency, also expressed as a percent), and
        the occurrences at the beginning of a word. The final column is the percent of letter or phoneme occurrences which are
        at the beginning of a word (column 4 divided by column 2).
    </p>
    <p>This information was useful to me when I was trying to figure out the new orthography for English. For instance, you can
        see that the phonemes 'dž' and 'tš' ('j/g' and 'ch' in traditional spellings) are relatively infrequent. 'ch' was already
        a digraph, so it made sense to make 'j' one as well. There are some instances of less frequent phonemes getting their 
        own character while a more frequent one is a digraph (like 'ei' and 'ž'), but it was done to enhance legibility (to avoid spellings
        like "dzhudzh" for "judge" and "tshørtsh" for "church") and in order to be consistent ('š' is more common than 'ai').
    </p>

    
    {{else}}
    <h1>Stäts</h1>
    <p>Dhis peidž pruvaidz inførmeišin ubawt dhu letørz änd fonymz in dhu {{.RowCountF}} words in dhis deitubeis.
        Dhu først teibul šoz stutistiks ubawt letørz, dhu sekind ubawt fonymz. Both teibulz
        list dhu totul numbør uv ukørinsiz in dhis deitubeis (frykwinsy, also iksprest äz u pørsent),
        änd dhu ukørinsiz ät dhu bigining uv u wørd. Dhu fainul kalum iz dhu pørsent uv letør or fonym ukørinsiz witš ar ät dhu
        bigining uv u wørd (kalum 4 divaidid bai kalum 2).
    </p>
    <p>Dhis inførmeišin waz ywsful tw my wen Ai waz traiing tw figyør awt dhu nw orthagrify for Inggliš. For instins, yw kän sy
        dhät dhu fonymz 'dž' änd 'tš' ('j/g' änd 'ch' in trudišinul spelingz) ar relitivly infrykwint. 'ch' waz alredy u digraph,
        so it meid sens tw meik 'j' wun äz wel. Dher ar sum instinsiz uv les frykwint fonymz geting dher 
        on keriktør wail u mor frykwint wun iz u digraph (laik 'ei' änd 'ž'), but it waz dun tw enhäns ledžubility (tw uvoid spelingz 
        laik "dzhudzh" for "judge" änd "tshørtsh" for "church") änd in ordør tw by kunsistint ('š' iz mor kamin dhän 'ai'). 
    </p>

    {{end}}
    <h2>{{if .DisplayTrud}}Letters{{else}}Letørz{{end}}</h2>    
    <table class="stats">
        <thead id="runeStatsHead">
            {{if .DisplayTrud}}
            <tr class="sort">
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 5, 0)"><span><span class="mobile">a</span><span class="nomobile">Letter</span></span><i class="arrow sort"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 1, 1)"><span data-title="# of all letter occurrences" class="info above">Freq<span class="nomobile">uency</span></span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 1, 2)"><span data-title="% of all letter occurrences" class="info above">Freq<span class="nomobile">uency</span> %</span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 3, 3)"><span data-title="# of occurrences at beginning of word" class="info above"><span class="nomobile">Freq as </span>1<sup>st</sup></span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 4, 4)"><span data-title="% of occurrences at beginning of word" class="info above"><span class="nomobile">Freq as </span>1<sup>st</sup> %</span><i class="hidden"></i></a>
                </th>
                <th></th>            
            </tr>
            {{else}}
            <tr class="sort">
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 5, 0)"><span><span class="mobile">a</span><span class="nomobile">Letør</span></span><i class="arrow sort"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 1, 1)"><span data-title="# uv al letør ukørinsiz" class="info above">Fryk<span class="nomobile">winsy</span></span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 1, 2)"><span data-title="% uv al letør ukørinsiz" class="info above">Fryk<span class="nomobile">winsy</span> %</span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 3, 3)"><span data-title="# uv ukørinsiz ät bigining uv wørd" class="info above"><span class="nomobile">Fryk äz </span>1<sup>st</sup></span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 4, 4)"><span data-title="% uv ukørinsiz ät bigining uv wørd" class="info above"><span class="nomobile">Fryk äz </span>1<sup>st</sup> %</span><i class="hidden"></i></a>
                </th>
                <th></th>            
            </tr>
            {{end}}
    
        </thead>
        <tbody id="runeStatsBody">
            {{range .RuneStats}}
            <tr>
                <td>{{index . 0}}</td>
                <td>{{index . 1}}</td>
                <td>{{index . 2}}</td>
                <td>{{index . 3}}</td>
                <td>{{index . 4}}</td>
                <td>{{index . 5}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{if .DisplayTrud}}
    <h2>Phonemes</h2>
    <p>
        'w' and 'y' are labeled as either <strong>consonant (K)</strong> or <strong>vowel (V)</strong>. I represented the phonemes
        in the Phonetic English orthography so it would be easier to read in the context of the other data. To see 
        which IPA symbols these phonemes correspond to, visit the <a href="{{.Root}}">home page</a>.
    </p>
    {{else}}
    <h2>Fonymz</h2>
    <p>
        'w' änd 'y' ar leibuld äz aidhør <strong>kansunint (K)</strong> or <strong>väwul (V)</strong>. Ai repruzentid dhu fonymz 
        in dhu Funetik Inggliš orthagrify so it wød by yzyør tw red in dhu kantekst uv dhu udhør deitu. Tw sy 
        witš IPA simbulz dhyz fonymz korispand tw, vizit dhu <a href="{{.Root}}">home peidž</a>. 
    </p>
    {{end}}

    <table class="stats">
        <thead id="phonStatsHead">
            {{if .DisplayTrud}}
            <tr class="sort">
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 5, 0)"><span><span class="mobile">a</span><span class="nomobile">Phoneme</span></span><i class="arrow sort"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 1, 1)"><span data-title="# of all phoneme occurrences" class="info above">Freq<span class="nomobile">uency</span></span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 1, 2)"><span data-title="% of all phoneme occurrences" class="info above">Freq<span class="nomobile">uency</span> %</span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 3, 3)"><span data-title="# of occurrences at beginning of word" class="info above"><span class="nomobile">Freq as </span>1<sup>st</sup></span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 4, 4)"><span data-title="% of occurrences at beginning of word" class="info above"><span class="nomobile">Freq as </span>1<sup>st</sup> %</span><i class="hidden"></i></a>
                </th>
                <th></th>            
            </tr>
            {{else}}
            <tr class="sort">
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 5, 0)"><span><span class="mobile">a</span><span class="nomobile">Fonym</span></span><i class="arrow sort"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 1, 1)"><span data-title="# uv al fonym ukørinsiz" class="info above">Fryk<span class="nomobile">winsy</span></span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 1, 2)"><span data-title="% uv al fonym ukørinsiz" class="info above">Fryk<span class="nomobile">winsy</span> %</span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 3, 3)"><span data-title="# uv ukørinsiz ät bigining uv wørd" class="info above"><span class="nomobile">Fryk äz </span>1<sup>st</sup></span><i class="hidden"></i></a>
                </th>
                <th>
                    <a href="javascript:void(0)" onpointerdown="sortTable(this, 4, 4)"><span data-title="% uv ukørinsiz ät bigining uv wørd" class="info above"><span class="nomobile">Fryk äz </span>1<sup>st</sup> %</span><i class="hidden"></i></a>
                </th>
                <th></th>            
            </tr>
            {{end}}

        </thead>
        <tbody id="phonStatsBody">
            {{range .PhonStats}}
            <tr>
                <td>{{index . 0}}</td>
                <td>{{index . 1}}</td>
                <td>{{index . 2}}</td>
                <td>{{index . 3}}</td>
                <td>{{index . 4}}</td>
                <td>{{index . 5}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</main>
<script>
    var runeIcons, phonIcons,
        lastSortBy = 5, lastCol = 0,
        runeColOrder = {value: [1,1,1,1,1,1]}, phonColOrder = {value: [1,1,1,1,1,1]}
    window.onload = function () {
        var runeIconsValue = document.querySelectorAll("#runeStatsHead i")
        var phonIconsValue = document.querySelectorAll("#phonStatsHead i")
        runeIcons = {value: runeIconsValue}
        phonIcons = {value: phonIconsValue}
    }
    function sortTable(anchor, sortBy, col) {
        var table = anchor.parentNode.parentNode.parentNode.parentNode
        var tbody = table.querySelector("tbody")
        var asc, colOrder, colIcons, icon
        // determine which table to sort
        if (tbody.id == "runeStatsBody") {
            colOrder = runeColOrder
            colIcons = runeIcons
        } else {
            colOrder = phonColOrder
            colIcons = phonIcons  
        }
        for (i = 0; i < colOrder.value.length; i++) {
            if (i == sortBy) {
                // if already sorted by a column, sort descending
                if (sortBy == lastSortBy) {
                    if ((col == 5 && col == lastSortBy) || col == lastCol) {
                        colOrder.value[i] *= -1
                    }
                }
                // otherwise, sort ascending
                lastSortBy = sortBy
                lastCol = col
                asc = colOrder.value[i]
            } else {
                colOrder.value[i] = 1
            }
        }
        // create an array with values from the table
        var rows = tbody.rows,
            rlen = rows.length,
            arr = new Array(),
            i, j, cells, clen
        for (i = 0; i < rlen; i++) {
            cells = rows[i].cells
            clen = cells.length
            arr[i] = new Array()
            for (j = 0; j < clen; j++) {
                arr[i][j] = cells[j].innerHTML
            }
        }
        // sort the array by the specified column number (sortBy) and order (asc)
        arr.sort(function (a, b) {
            return (a[sortBy] == b[sortBy]) ? 0 : ((parseFloat(a[sortBy]) > parseFloat(b[sortBy])) ? asc : -1 * asc)
        });
        for (i = 0; i < rlen; i++) {
            rows[i].innerHTML = "<td id=\"arr[i]\">" + arr[i].join("</td><td>") + "</td>"
        }
        // add arrow sort icon to active column depending on current sort direction
        if (asc > 0) {
            icon = "up"
        } else {
            icon = "down"
        }
        // clear existing arrows before adding in new ones
        for (i = 0; i < colIcons.value.length; i++){
            colIcons.value[i].className = "hidden"
        }
        colIcons.value[col].className = "arrow sort "+icon
    }
</script>
{{template "_footer.html" .}}
{{end}}