{{define "stats.html"}}
{{template "_header.html" .}}
<main>
<table id="stats">
    <thead>
        {{if .DisplayTrud}}
        <tr class="sort">
            <th></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 0, asc0); asc0 *= -1; asc2 = 1; asc3 = 1; asc4 = 1; asc5 = 1;"><span><span class="mobile">a</span><span class="nomobile">Letter</span></span><i class="arrow sort"></i></a></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 2, asc2); asc2 *= -1; asc3 = 1; asc4 = 1; asc5 = 1; asc0 = 1;"><span data-title="# of all letter occurrences" class="info above">Freq<span class="nomobile">uency</span></span><i class=""></i></a></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 3, asc3); asc3 *= -1; asc4 = 1; asc5 = 1; asc0 = 1; asc2 = 1;"><span data-title="% of all letter occurrences" class="info above">Freq<span class="nomobile">uency</span> %</span><i class=""></i></a></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 4, asc4); asc4 *= -1; asc5 = 1; asc0 = 1; asc2 = 1; asc3 = 1;"><span data-title="# of occurrences at beginning of word" class="info above"><span class="nomobile">Freq a</span><span class="mobile">A</span>s 1<sup>st</sup></span><i class=""></i></a></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 5, asc5); asc5 *= -1; asc0 = 1; asc2 = 1; asc3 = 1; asc4 = 1;"><span data-title="% of occurrences at beginning of word" class="info above"><span class="nomobile">Freq a</span><span class="mobile">A</span>s 1<sup>st</sup> %</span><i class=""></i></a></th>
        </tr>
        {{else}}
        <tr class="sort">
            <th></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 0, asc0); asc0 *= -1; asc2 = 1; asc3 = 1; asc4 = 1; asc5 = 1;"><span><span class="mobile">a</span><span class="nomobile">Letør</span></span><i class="arrow sort"></i></a></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 2, asc2); asc2 *= -1; asc3 = 1; asc4 = 1; asc5 = 1; asc0 = 1;"><span data-title="# uv al letør ukørinsiz" class="info above">Fryk<span class="nomobile">winsy</span></span><i class=""></i></a></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 3, asc3); asc3 *= -1; asc4 = 1; asc5 = 1; asc0 = 1; asc2 = 1;"><span data-title="% uv al letør ukørinsiz" class="info above">Fryk<span class="nomobile">winsy</span> %</span><i class=""></i></a></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 4, asc4); asc4 *= -1; asc5 = 1; asc0 = 1; asc2 = 1; asc3 = 1;"><span data-title="# uv ukørinsiz ät bigining uv wørd" class="info above"><span class="nomobile">Fryk ä</span><span class="mobile">Ä</span>z 1<sup>st</sup></span><i class=""></i></a></th>
            <th><a href="javascript:void(0);" onclick="javascript:sort_table(people, 5, asc5); asc5 *= -1; asc0 = 1; asc2 = 1; asc3 = 1; asc4 = 1;"><span data-title="% uv ukørinsiz ät bigining uv wørd" class="info above"><span class="nomobile">Fryk ä</span><span class="mobile">Ä</span>z 1<sup>st</sup> %</span><i class=""></i></a></th>
        </tr>
        {{end}}

    </thead>
    <tbody id="statsBody">
        {{range .Stats}}
        <tr>
            <td>{{index . 0}}</td>
            <td>{{index . 1}}</td>
            <td>{{index . 2}}</td>
            <td>{{index . 3}}</td>
            <td>{{index . 4}}</td>
            <td>{{index . 5}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
</main>
<script>
    var people, asc0 = -1, /*asc1 = 1 //not used,*/ asc2 = 1, asc3 = 1, asc4 = 1, asc5 = 1
    window.onload = function () {
        people = document.getElementById("statsBody");
    }
    function sort_table(tbody, col, asc) {
        var rows = tbody.rows,
            rlen = rows.length,
            arr = new Array(),
            i, j, cells, clen
        // fill the array with values from the table
        for (i = 0; i < rlen; i++) {
            cells = rows[i].cells
            clen = cells.length
            arr[i] = new Array()

            for (j = 0; j < clen; j++) {
                arr[i][j] = cells[j].innerHTML
            }
        }

        // sort the array by the specified column number (col) and order (asc)
        
        arr.sort(function (a, b) {
            return (a[col] == b[col]) ? 0 : ((parseFloat(a[col]) > parseFloat(b[col])) ? asc : -1 * asc)
        });

        // replace existing rows with new rows created from the sorted array
        for (i = 0; i < rlen; i++) {
            rows[i].innerHTML = "<td id=\"arr[i]\">" + arr[i].join("</td><td>") + "</td>"
        }

        // add arrow sort icon to active column depending on current sort direction
        var icon        
        if (asc > 0) {
            icon = "up"
        } else {
            icon = "down"
        }

        var colIcons = document.getElementsByTagName("i")
        for (i = 0; i < colIcons.length; i++){
            colIcons[i].className = ""
        }
        if (col == 0) {
            colIcons[0].className = "arrow sort "+icon
        } else {
            colIcons[col - 1].className = "arrow sort "+icon
        }
    }
</script>
{{template "_footer.html" .}}
{{end}}