{{define "translit.html"}}
{{template "_header.html"}}
<section>
    <p>Tränzlitøreitør dhät traiz tw tränzlitøreit trudišinul sentinsiz for funetik wunz.</p>
    <form action="/traanzlit" method="post" enctype="application/x-www-form-urlencoded">
        <textarea name="inputtext" cols="80" rows="10" placeholder="Type in here and press Tränzlit.">{{if .TranslitInput}}{{.TranslitInput}}{{end}}</textarea><br>
        <input type="submit" value="Tränzlit" />
    </form>
    {{if .TranslitOutput}}
    <h2>Tränzlitøreišin:</h2>
    <div id="results">
    {{range .TranslitOutput}}
        {{.}}<br>
    {{end}}
    </div>
    {{end}}
</section>

{{template "_footer.html"}}
{{end}}