{{define "translit.html"}}
{{template "_header.html" .}}
<main class="nobg">
    {{if .DisplayTrud}}
    <h1>Transliterator</h2>
    <p>
        Below is a transliterator that tries to transliterate traditional sentences into phonetic ones. It currently can't choose
        correctly from a group of homonyms (e.g. use/use, read/read) because it can't understand context.
    </p>
    <p><strong>Maximum input length: 2500 characters</strong></p>
    {{else}}
    <h1>Tränzlitøreitør</h2>        
    <p>Bilo iz u tränzlitøreitør dhät traiz tw tränzlitøreit trudišinul sentinsiz intw funetik wunz. It kørintly kän't tšwz kørektly
        frum u grwp uv hamunimz (e.g. use/use, read/read) bikuz it kän't undørständ kantekst.
    </p>
    <p><strong>Mäksimum inpøt lengkth: 2500 keriktørz</strong></p>
    {{end}}
    
    <form action="{{.CurrentPage}}" method="post" enctype="application/x-www-form-urlencoded">
        <textarea id="input" name="inputtext" cols="80" rows="10" maxlength="2500" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="{{if .DisplayTrud}}Type in here and press Translit.{{else}}Taip in hyr änd pres Tränzlit.{{end}}">{{if .TranslitInput}}{{.TranslitInput}}{{end}}</textarea>
        <p><input type="submit" value="{{if .DisplayTrud}}Translit{{else}}Tränzlit{{end}}" /></p>
    </form>

    {{if .TranslitOutput}}
    <textarea id="output" cols="80" rows="10" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">{{range .TranslitOutput}}
{{.}}{{end}}</textarea>
    {{end}}

</main>

{{if .TranslitOutput}}
<script src="{{.Root}}/static/scripts/jquery-3.2.1.min.js"></script>
<script>
    $("#input, #output").on("scroll", function() {
        $("#input, #output").scrollTop($(this).scrollTop());
    });
</script>
{{end}}
{{template "_footer.html" .}}
{{end}}