{{define "wordsSorted"}}
{{$currentpage := .CurrentPage}}
{{$isDev := .IsDev}}
{{$random := Random}}
    {{range ShowWords .}}
        {{if eq (index . 0) "-1"}}
        <tr class="no-results"><td colspan="{{if $isDev}}6{{else}}5{{end}}"><span><a href="\"><i>😂</i> nuthin hyr <i>😭</i></a></span></td></tr>
        {{else}}
        <tr>
            {{if $isDev}}<td>{{index . 0}}</td>{{end}}
            <td><span data-title="{{index . 2}}" class="info toright nolink hover">{{index . 1}}</span>{{if $isDev}}<a href="{{$currentpage}}&id={{index . 0}}&r={{$random}}#{{index . 0}}" id="{{index . 0}}" class="icon">{{if eq (index . 7) "true"}}🏴{{else}}🏳️{{end}}</a>{{end}}</td>
            <td><a href="https://www.merriam-webster.com/dictionary/{{index . 3}}" target="_blank">{{index . 3}}</a></td>
            <td>{{index . 4}}</td>
            <td>{{index . 5}}</td>
            <td>{{index . 6}}</td>
        </tr>
        {{end}}
    {{end}}
{{end}}