{{define "words.html"}}
{{template "_header.html"}}
<table class="wørdz">
    <tr>
        <th id="id">
            <a href="?sortby=id&order={{if .Reverse}}asc{{else}}desc{{end}}"><span>ID</span>{{if .ID}}<i>{{if .Reverse}}🡇{{else}}🡅{{end}}</i>{{end}}</a>
        </th>
        <th id="nw">
            <a href="?sortby=new&order={{if .Reverse}}asc{{else}}desc{{end}}" title="Keriktør ordør: 
aäeiywuøolrmnbpvfgkdtzsžšh"><span>Nw Speling</span>{{if .New}}<i>{{if .Reverse}}🡇{{else}}🡅{{end}}</i>{{else}}<i class="hidden">🡇</i>{{end}}</a>
        </th>
        <th id="old">
            <a href="?sortby=old&order={{if .Reverse}}asc{{else}}desc{{end}}" title="Keriktør ordør: 
abcdefghijklmnopqrstuvwxyz"><span>Old Speling</span>{{if .Old}}<i>{{if .Reverse}}🡇{{else}}🡅{{end}}</i>{{else}}<i class="hidden">🡇</i>{{end}}</a>
        </th>
        <th id="dist">
            <a href="?sortby=dist&order={{if .Reverse}}asc{{else}}desc{{end}}" title="Distins iz dhu minimum numbør uv 
tšendžiz tw get frum old tw nw speling"><span>Dist</span>{{if .Dist}}<i>{{if .Reverse}}🡇{{else}}🡅{{end}}</i>{{end}}</a>
        </th>
        <th id="pus">
            <span title="Part uv Spytš">PuS</span>
        </th>
        <th id="sil">
            <span title="Silubulz">Silz</span>
        </th>
    </tr>
    {{template "wordsSorted" .}}
</table>
<nav class="bottom">
    <ul>
        {{if .PreviousPage}}<li><a href="{{.PreviousPage}}" class="back"><i>🡄</i> Back</a></li>{{else}}
        <li><a class="disabled"><i>🡄</i> Back</a></li>{{end}}
        {{if .NextPage}}<li><a href="{{.NextPage}}" class="next">Next <i>🡆</i></a></li>{{else}}
        <li><a class="disabled">Next <i>🡆</i></a></li>{{end}}
    </ul>
</nav>
{{template "_footer.html"}}
{{end}}