{{define "words.html"}} {{template "_header.html"}}

<table class="words">
    <tr>
        <th id="id">
            <a href="?sortby=id&order={{if .Reverse}}asc{{else}}desc{{end}}"><span>ID</span>{{if .ID}}<i>{{if .Reverse}}🡇{{else}}🡅{{end}}</i>{{end}}</a>
        </th>
        <th id="nw">
            <a href="?sortby=new&order={{if .Reverse}}asc{{else}}desc{{end}}" title="Keriktør ordør: 
aäeiywuøolrmnbpvfgkdtzsžšh"><span>Nw Speling</span>{{if .New}}<i>{{if .Reverse}}🡇{{else}}🡅{{end}}</i>{{else}}<i class="hidden">🡇</i>{{end}}</a>
        </th>
        <th id="old">
            <a href="?sortby=old&order={{if .Reverse}}asc{{else}}desc{{end}}" title="Keriktør ordør: 
abcdefghijklmnopqrstuvwxyz"><span>Old Speling</span>{{if .Old}}<i>{{if .Reverse}}🡇{{else}}🡅{{end}}</i>{{else}}<i class="hidden">🡇</i>{{end}}</a>
        </th>
        <th id="dist">
            <a href="?sortby=dist&order={{if .Reverse}}asc{{else}}desc{{end}}" title="Distins iz dhu minimum numbør uv 
tšendžiz tw get frum old tw nw speling"><span>Dist</span>{{if .Dist}}<i>{{if .Reverse}}🡇{{else}}🡅{{end}}</i>{{end}}</a>
        </th>
        <th id="pus">
            <span title="Part uv Spytš">PuS</span>
        </th>
        <th id="sil">
            <span title="Silubulz">Silz</span>
        </th>
    </tr>
    {{template "wordsSorted" .}}
</table>

<nav class="bottom">
    <ul>
        {{if .PreviousPage}}
        <script>
            document.addEventListener("keydown", function (evt) {
                evt = evt || window.event;
                if (evt.keyCode == 37) {
                    window.location = '{{.PreviousPage}}'
                }
            });
        </script>
        <li><a href="{{.PreviousPage}}" class="back" title="Keyboard shortcut: left arrow"><i>🡄</i> Back</a></li>{{else}}
        <li><a class="disabled"><i>🡄</i> Back</a></li>{{end}} {{if .NextPage}}
        <script>
            document.addEventListener("keydown", function (evt) {
                evt = evt || window.event;
                if (evt.keyCode == 39) {
                    window.location = '{{.NextPage}}'
                }
            });
        </script>
        <li><a href="{{.NextPage}}" class="next" title="Keyboard shortcut: right arrow">Next <i>🡆</i></a></li>{{else}}
        <li><a class="disabled">Next <i>🡆</i></a></li>{{end}}
    </ul>
</nav>

<table class="key">
    <tr><th>Simbul</th><th>Part uv Spytš</th></tr>
    <tr><td>N</td><td>Noun</td></tr>
    <tr><td>P</td><td>Plural</td></tr>
    <tr><td>h</td><td>Noun Phrase</td></tr>
    <tr><td>V</td><td>Verb (usu participle)</td></tr>
    <tr><td>t</td><td>Verb (transitive)</td></tr>
    <tr><td>i</td><td>Verb (intransitive)</td></tr>
    <tr><td>A</td><td>Adjective</td></tr>
    <tr><td>v</td><td>Adverb</td></tr>
    <tr><td>C</td><td>Conjunction</td></tr>
    <tr><td>P</td><td>Preposition</td></tr>
    <tr><td>!</td><td>Interjection</td></tr>
    <tr><td>r</td><td>Pronoun</td></tr>
    <tr><td>D</td><td>Definite Article</td></tr>
    <tr><td>I</td><td>Indefinite Article</td></tr>
    <tr><td>o</td><td>Nominative</td></tr>
</table>
{{template "_footer.html"}} {{end}}