{{define "wordsSorted"}}
{{$curr := .CurrentPage}}
{{$isDev := .IsDev}}
{{$rand := Random}}
    {{range ShowWords .}}
        {{if eq (index . 0) "-1"}}
        <tr class="no-results"><td colspan="6"><span><a href="\"><i>😂</i> nuthin hyr läl <i>😭</i></a></span></td></tr>
        {{else}}
        <tr>
            {{if $isDev}}<td>{{index . 0}}</td>{{end}}
            <td><span data-title="{{index . 2}}" class="info toright nolink hover">{{index . 1}}</span>{{if $isDev}}<a href="{{$curr}}&id={{index . 0}}&r={{$rand}}#{{index . 0}}" data-title="Fläg dhis listing for editing" id="{{index . 0}}" class="icon info toright">{{if eq (index . 7) "true"}}🏴{{else}}🏳️{{end}}</a>{{end}}</td>
            <td><a href="https://www.merriam-webster.com/dictionary/{{index . 3}}" target="_blank">{{index . 3}}</a></td>
            <td>{{index . 4}}</td>
            <td>{{index . 5}}</td>
            <td>{{index . 6}}</td>
        </tr>
        {{end}}
    {{end}}
{{end}}